[2017-01-20 20:38] phil-levy opened #1 "Test Issue"
This isn't an issue.  It is a test for notifications.

[2017-01-20 20:50] adobeDan commented on #1
I'm leaving it to you to close this issue when you're done with it, Phil. :)

[2017-01-24 21:37] phil-levy commented on #1
Okay.  This is RESOLVED!

[2017-01-24 21:37] #1 closed

[2017-02-01 22:40] phil-levy opened #2 "logging: file_log_level is not honored nor validated"
logging:
    file_log_level: errorx
 -- no error message

logging:
    file_log_level: error
-- still shows debug messages

[2017-02-01 22:43] phil-levy opened #3 "Console log level = Error filters messages that have error in them"
Seems like these messages should be ERROR rather than WARNING

2017-02-01 14:37:37 15876 WARNING dashboard.owning.action - Error requestID: action_1 code: "error.user.belongs_to_another_org" message: "Illegal to invite user from another organization's owned auth src"
2017-02-01 14:37:37 15876 WARNING dashboard.owning.action - Error requestID: action_2 code: "error.user.belongs_to_another_org" mess

[2017-02-01 22:46] phil-levy opened #4 "ldap key not recognized or emits spurrious message"
This appears in the example config files but when uncommented result in the following message:

2017-02-01 14:43:53 14292 WARNING config - Found unused keys: ['ldap'] in: <user-sync-config.yml>.directory.connectors

[2017-02-01 23:23] phil-levy opened #5 "No error for illegal command line options"
Should be an error if unrecognized stuff on the command line.  eg

python user-sync.pex --users file example.users-file.csv --process-group

[2017-02-01 23:25] phil-levy opened #6 "Groups not loaded from file in --users file f"
eg, for the sample example.users.list:

2017-02-01 15:23:44 15140 DEBUG processor - Group work list: {None: {'jdoe@example.com': set([]), 'jsmith@example.com': set([]), 'rroe@j.on-the-side.net': set([])}}

Seems like the list was not loaded.

[2017-02-02 01:26] phil-levy opened #8 "Console/log error messages should be presented together"
Currently, the UMAPI error messages are displayed without being near the parameters that are being sent.  This makes it really hard to figure out what call the error message corresponds to.   The requestID connects them.  Can you put the call info with the return info?

2017-02-01 17:14:20 13396 INFO processor - Adding user with user key: rroe@example.com
2017-02-01 17:14:20 13396 INFO dashboard.o

[2017-02-02 02:22] adorton-adobe opened #9 "Can't get disabled users to deprovision"
I'm testing the sync tool with a couple of users that I've synced from my Active Directory sandbox.  I was able to create and provision them successfully.

![test users](https://cloud.githubusercontent.com/assets/25495410/22534503/cbb398d8-e8b1-11e6-84a1-36b855dea335.PNG)

When I mark those users as disabled in my sandbox AD, the sync tool doesn't do anything to deprovision them.

Here's the log I

[2017-02-03 09:17] jamesg123 commented on #5
Hi Phil,

We are using argparse to handle the command line options. Argparse defaults to accepting abbreviations. 'process-group' was accepted, as it is an abbreviation of the valid option 'process-groups' (with the additional s). An invalid command line option such as --invalid produces an error such as this:

usage: app.py [-h] [-v] [-t] [-c path] [--config-filename filename]
              [--us

[2017-02-03 09:58] jamesg123 commented on #4
Hi Phil,

I can recreate this when the '--users' command line option is not specified. Can you confirm whether or not you specified this option when you received the error?

Thanks,
Jim

[2017-02-03 10:09] jamesg123 commented on #8
Hi Phil,

I am not sure if we can improve the logging too much without repeating the input parameters when each error occurs which could potentially make the log file quite large and repetitive.
The errors are written to the log file as they occur so it may be quite a big change to group the messages up.
I am probably missing something (please clarify if I am) but as the requestID is written in th

[2017-02-03 15:47] jamesg123 commented on #6
Hi Phil,

I have recreated the issue. The reason the groups are not appearing in the log is that there are no mappings for "AdobeCC-All" in user-sync-config.yml.
If I insert the following in my user-sync-config.yml:
    - directory_group: AdobeCC-All
      dashboard_groups:
        - "Adobe CC All test"

The output is as follows:

2017-02-03 15:43:45 57288 DEBUG processor - Group work list: {None:

[2017-02-03 19:27] phil-levy commented on #8
After demoing this in front of a bunch of people, at least the following simple things need to be changed:

Log message about the call needs to be DEBUG level.  I think is probably fine now.

Log message about an error return needs to be ERROR level and repeat the call data

thanks
phil

From: James Green [mailto:notifications@github.com]
Sent: Friday, February 3, 2017 2:09 AM
To: adobe-apiplatfor

[2017-02-03 19:29] phil-levy commented on #4
I probably ran it with --users file f as opposed to --users all or no --users.

phil

From: James Green [mailto:notifications@github.com]
Sent: Friday, February 3, 2017 1:59 AM
To: adobe-apiplatform/user-sync.py <user-sync.py@noreply.github.com>
Cc: Philip Levy <plevy@adobe.com>; Author <author@noreply.github.com>
Subject: Re: [adobe-apiplatform/user-sync.py] ldap key not recognized or emits spurr

[2017-02-06 03:10] phil-levy commented on #5
If you are saying that any of our command line options can be abbreviated as long as the abbreviation is unambiguous, that is probably okay.  We just need to document that.  Let me know.

[2017-02-06 03:23] adobeDan commented on #5
That’s what he is saying, yes. :)  We should document it. –d.

From: phil-levy <notifications@github.com>
Reply-To: "adobe-apiplatform/user-sync.py" <reply@reply.github.com>
Date: Sunday, February 5, 2017 at 7:10 PM
To: "adobe-apiplatform/user-sync.py" <user-sync.py@noreply.github.com>
Cc: Daniel Brotsky <dbrotsky@adobe.com>, Comment <comment@noreply.github.com>
Subject: Re: [adobe-apiplatform/use

[2017-02-06 06:46] phil-levy commented on #6
Thanks.  This looks like user error on my part.

[2017-02-06 06:46] #6 closed

[2017-02-06 08:54] jamesg123 commented on #4
Hi Phil,

Are you able to recreate and let me know the command line and config used?
I couldn't get the error to come out when --users is specified

Thanks,
Jim

[2017-02-06 10:31] jamesg123 commented on #9
Hi,

As far as I am aware, the code does not remove access to products for disabled AD users. If you were to remove the user from the groups as well as disabling you should get the desired result.

Thanks,
Jim

[2017-02-06 10:39] adobeDan commented on #9
Andrew, what happens when you run *with* the remove-users option?

[2017-02-06 13:14] jamesg123 commented on #2
Hi Phil,

I have added some validation for the file_log_level as requested (I will push it once I have access).

I think your understanding of how this works is correct, but I just want to run through a couple of examples just so we are on the same page. The valid options for file_log_level are as follows:
"debug"
"info"
"warning"
"error"
"critical"

Selecting a file_log_level of "debug" will outp

[2017-02-06 14:13] adorton-adobe commented on #9
@jamesg123 - The scenario I describe in the issue (de-provisioning users no longer found in AD queries) is a core use case of the initial version of the sync tool.  If that functionality isn't supported in this version, then it needs to be added ASAP.  I can't provide the tool to customers without that functionality, and I've already committed to providing it to two customers, who expect it to be

[2017-02-06 20:26] adorton-adobe commented on #9
@adobeDan - When I add the `--remove-nonexistent-users` flag, the sync tool attempts to delete all non-AdobeID users on my org (which right now belong to another domain that I've claimed).  The two users I'm testing with are not removed (or attempted - I'm running in test mode).

This could be related to the fact that I have to enable the `--users all` flag to get those accounts to sync in the fir

[2017-02-06 23:22] adobeDan commented on #9
@adorton-adobe - How do you define "disabled" - is that a specific field maintained by AD?  Are you suggesting that we should read this field in the AD connector settings and, if it's set, we should remove the user from all mapped groups?

[2017-02-06 23:25] adobeDan commented on #2
@jamesg123 - You now have write access to the repository (so you can push build artifacts), but for code changes please do a local fork, make the changes in the v1 branch, and do a pull request back to the repo v1.  Thanks!

[2017-02-07 05:14] phil-levy commented on #9
If you run with --remove-nonexistent-users, the account should be removed which includes removing from all groups and PLCs.  That is the equivalent functionality.  You do have to run with --users all or --users file f (where f lists all users) in order for this to work.  Otherwise, sync can't determine if a user is out of the directory.

From: adorton-adobe [mailto:notifications@github.com]
Sent:

[2017-02-07 05:58] phil-levy commented on #4
python user-sync.pex --users file example.users-file.csv --process-groups
2017-02-05 22:57:14 8248 INFO config - Using main config file: user-sync-config.yml
2017-02-05 22:57:14 8248 INFO main - ========== Start Run =======================================
2017-02-05 22:57:14 8248 WARNING config - Found unused keys: ['ldap'] in: <user-sync-config.yml>.directory.connectors

user-sync-config.yml:

da

[2017-02-07 06:07] phil-levy commented on #2
Could be that the lack of an error message about illegal option values confused me.  I probably set file_log_level to Error instead of error.  I find if I set it to error or info it works properly.

From: James Green [mailto:notifications@github.com]
Sent: Monday, February 6, 2017 5:14 AM
To: adobe-apiplatform/user-sync.py <user-sync.py@noreply.github.com>
Cc: Philip Levy <plevy@adobe.com>; Author

[2017-02-07 11:56] jamesg123 commented on #2
@phil-levy @adobeDan  Thanks for the access. I have raised the following PR for the log level validation https://github.com/adobe-apiplatform/user-sync.py/pull/15

[2017-02-07 11:58] jamesg123 commented on #3
@phil-levy - I have submitted the following PR to change the message log level:

https://github.com/adobe-apiplatform/user-sync.py/pull/13

Thanks,
Jim

[2017-02-07 16:41] jamesg123 commented on #4
@phil-levy Thanks for that. I can recreate the issue now.

The reason this is happening is due to the --users file option being passed when ldap configuration exists in the config.yml.

In config.py we can see the following:

`    def get_directory_connector_options(self, connector_name):
        '''
        :rtype dict
        '''
        connector_options = {}
        connectors_config = self.ge

[2017-02-07 18:44] adorton-adobe commented on #9
@adobeDan - I define disabled as users marked as disabled in AD.  More broadly, it means any user that is found in the Admin Console, but not AD.

@phil-levy - We don't always want to remove accounts.  That would mean that a user's assets and libraries will be deleted along with the account.  The default behavior should be for disabled users to be removed from PLCs, but not from the org (unless th

[2017-02-08 06:31] phil-levy commented on #4
That seems reasonable enough.  No need for further action on this.

[2017-02-08 06:31] #4 closed

[2017-02-08 06:42] phil-levy commented on #9
Not sure what you mean by asking why the sync tools can't determine if a user is no longer in the directory.  That is exactly what it does.

In any case, we still need an answer of what it means to "mark a user as disabled".  Is this an AD-specific thing?  Is there some attribute value that indicates this?   I expect we would be able to support this behavior in the next release at the end of the m

[2017-02-08 06:52] adobeDan commented on #9
@adorton-adobe What Phil said.  You keep saying the phrase "users marked as disabled in AD" but we don't understand what that means.  We are accessing AD as an LDAP source, which means we just see attributes and their value for each user, as well as what groups a user is in.  Is there an attribute or group that is conventionally used to mark a user as "disabled"?  Or is this some customer-specific

[2017-02-08 10:28] #3 closed

[2017-02-08 15:27] Metasemi commented on #9
The disabled status is available as a bit in the userAccountControl attribute mask. The tool already exploits this. Per the example connector-ldap.yml, the default query, intended for AD, retrieves only users who are not disabled. This is the (!(userAccountControl ... )) clause, which can be removed to include disabled users.

So that's the answer to @phil-levy / @adobeDan 's Q from the client poi

[2017-02-08 15:27] Metasemi commented on #9
D'oh! 'Metasemi' == Mike Orr

[2017-02-08 15:43] Metasemi commented on #9
A quick JXplorer experiment seems to indicate that userAccountControl is indeed 'just another attribute', so presumably available in the tool's query result.

[2017-02-08 20:08] adorton-adobe commented on #9
I've detailed the disable/de-provisioning scenario below using sync V1.  Let me know if the current version supports this.  Basically, AD users are compared to Console users, and users found in the Console but not AD get their PLCs removed.  That's the idea in a nutshell.  If the current version doesn't support this, then we need to get this functionality added ASAP.

Let me know if you have any q

[2017-02-08 20:16] Metasemi commented on #9
Just to be sure @adorton-adobe, in your failing v2 tests, are you leaving the all_users_filter at the default? Not uncommenting anything or defining your own in connector-ldap.yml, and not defining --source-filters on the command line?

[2017-02-08 20:38] adorton-adobe commented on #9
I need to explicitly set `--users all`.  Even though "all" is the default behavior, without that param, nothing syncs.

Here are my ldap filter settings.  They are the AD examples in the connector config:

[code]

[2017-02-08 20:50] Metasemi commented on #9
Thanks. (Just wanted to make sure you didn't have a custom filter that would cause the disabled users to be loaded, which would prevent them from being seen as orphaned. Looks like you do not.)

[2017-02-08 21:01] Metasemi commented on #9
@adorton-adobe @phil-levy @adobeDan @jamesg123 I'm not the most knowledgeable person about this and shouldn't be trusted until someone who knows what they're talking about confirms, but I **think** the orphaned user recognition only applies to federated users (now), which is not the case in @adorton-adobe's dashboard snap above. Could this be what's going on?

[2017-02-09 07:58] adobeDan commented on #9
@Metasemi thanks for tracking down the details of what "disabled" means in AD.

@adorton-adobe  I believe that `--users all` is *not* the default behavior (see below for why).

What's going on here is the following:

1. Andrew's older code always assumed that all users were created by syncing, so any user on the Adobe side that wasn't found on the customer side must have been "deleted" on the cust

[2017-02-09 10:29] jamesg123 commented on #9
@adobeDan 1 - sounds like a good approach to me and as you have your old implementation it makes sense for you to add the change. I am happy to review once is complete

[2017-02-09 14:37] adorton-adobe commented on #9
I would also prefer option 1.  It seems better to have a simple "backward compatible" mode than add complex functionality to accomplish the same thing.  I'm also happy to help test if needed.  Just let me know what branch I need to pull for testing.

[2017-02-09 15:10] adobeDan commented on #9
@phil-levy Let's you and I discuss today and make a call.

[2017-02-09 16:50] Metasemi commented on #9
@adorton-adobe @phil-levy  @adobeDan @jamesg123 Additionally to all this good stuff (which I agree with and of course will help review and test!) can anyone comment on the question in my most recent post? I'm under the impression that users can be recognized as orphaned only in the federated case. Is that correct? (The @adorton-adobe run shown above is not federated.)

[2017-02-09 18:15] phil-levy commented on #9
Sorry  for being unavailable for some of this discussion, but I do not understand what the problem is.  As spec'd, user sync should remove users who have been disable or otherwise removed from the directory if --users all and --remove-nonexistent-users is specified.  Is this not happening?  If not, it sounds like a bug to be fixed.  I'm unclear why we think we need more options and these seem very

[2017-02-09 18:26] adobeDan commented on #9
@phil-levy There is no bug.  Andrew is requesting an enhancement to be fast-tracked so that existing customers who are on the older version of the sync tool can get the functionality they are used to out of the newer version of the sync tool.  Without this enhancement they cannot upgrade, because the functionality currently provided by the tool will break their existing workflow (which depends on

[2017-02-09 19:11] Metasemi commented on #9
It was an inference from a non-exhaustive look at the code (why I described it as an "impression"). Glad to hear it's incorrect, but I'll test to confirm.

[2017-02-09 20:29] adorton-adobe commented on #9
@adobeDan - how would `--users mapped` treat non-mapped PLCs and user groups that a user may be a part of?

V1 doesn't allow a user to be added to PLCs and groups that aren't mapped in config.  Non-mapped groups are removed from a user when the sync process runs, because the directory is considered to be the source of authority.  When users are de-provisioned, all PLCs and groups are removed from

[2017-02-09 21:14] adobeDan commented on #9
@adorton-adobe Yes I know what the older tool did, but I have always found that to be very limiting from a customer perspective.  Consider the very common situation of a customer with two domains, each run out of a separate directory on the customer's side, but both part of the Adobe organization.  The customer has one set of mappings he uses with one domain (e.g., for his creatives) and another s

[2017-02-10 09:39] jamesg123 commented on #9
@Metasemi @adobeDan  Mike - your initial understanding of the code is correct:

The remove-non-existent-users flag (that triggers the orphaned user functionality) is only currently for federated users. Some code below to back this up:

app.py:

rules.py

process_orphaned_dashboard_users

I wasn't involved in the project when this code was added, but it seemed quite intentional so I went back to th

[2017-02-10 15:33] adorton-adobe commented on #9
@adobeDan - Thanks, that does make sense.  I agree that the old policy of removing users from non-mapped PLCs/groups has some issues.  Let's go ahead with what you've proposed.

[2017-02-10 15:39] adorton-adobe opened #16 ""--remove-nonexistent-users" only applies to Federated users"
The `--remove-nonexistent-users` command-line param only applies to Federated users.  Should it also work for Enterprise users?

For details, see https://github.com/adobe-apiplatform/user-sync.py/issues/9#issuecomment-278899297

[2017-02-10 15:41] adorton-adobe commented on #9
@Metasemi @jamesg123 - this explains why my test enterprise users aren't removed when I run `--remove-nonexistent-users` and why they aren't dumped to the remove list when I generate one.  I've created #16 to track this issue separately.

[2017-02-10 16:36] phil-levy commented on #9
does anyone know why we don't remove enterprise users?  That sounds like a bug to me.

phil

From: adorton-adobe [mailto:notifications@github.com]
Sent: Friday, February 10, 2017 7:42 AM
To: adobe-apiplatform/user-sync.py <user-sync.py@noreply.github.com>
Cc: Philip Levy <plevy@adobe.com>; Mention <mention@noreply.github.com>
Subject: Re: [adobe-apiplatform/user-sync.py] Can't get disabled users t

[2017-02-10 20:06] adobeDan commented on #16
@phil-levy You asked "does anyone know why we don't remove enterprise users"? in #9; I'm answering here since Andrew opened this issue for that question :).

My answer: no idea.  It seems like a bug to me that we are treating Enterprise IDs and Federated IDs differently.  I believe they should be treated exactly the same in all aspects of sync.

[2017-02-10 21:02] Metasemi opened #17 "Warning should be given if no valid filter present in file specified using --source-filter"
If the file specified using the --source-filter command line option is valid YAML but contains no valid filter, then no exception is thrown and no warning is given. For example, in one test the command line specified

    --source-filter ldap:filter.yml

where the specified file's content was just

    (cn=Smoke*)

This content is faulty (should have been      all_users_filter: "(cn=Smoke*)"

[2017-02-13 16:31] adorton-adobe opened #18 "Unhandled exception when no country code for user (and no default in config)"
When no default country code is specified in the config file, the script will crash with an unhandled exception when creating a user with a blank country code.

[code]

It would probably be better to handle the error by writing an error message to the log and continuing the sync process.  Crashing the script could prevent valid users from being created (e.g. if those users come after an invalid us

[2017-02-15 10:39] jamesg123 commented on #17
@Metasemi - Hi Mike - I have added validation for this and created a [PR](https://github.com/adobe-apiplatform/user-sync.py/pull/19). I had to make a couple of assumptions about how to deal with the errors as follows, if you want it tweaked at all let me know and I will be happy to update:

* Processing will continue with no filter if an invalid source-filter is found in the filter.yml
* The log m

[2017-02-15 16:33] jamesg123 commented on #18
@adorton-adobe I have submitted a [PR](https://github.com/adobe-apiplatform/user-sync.py/pull/20) for this issue. Let me know what you think

[2017-02-15 17:24] adorton-adobe commented on #18
Thanks - it looks good to me.  Will this change be included with the 1.0.1 release?

[2017-02-15 19:42] Metasemi commented on #17
@jamesg123 Thanks James. I think this should be at least a warning if not an error. By specifying --source-filter, the user intends to globally influence the user load. If a user mistake prevents that intention from having an effect, surely we want to at least warn. (And if in some crazy scenario someone wants to always --source-filter but only sometimes actually filter, the filter itself can be m

[2017-02-15 19:45] Metasemi commented on #17
Ah I see Phil also wanted to bump it to a warn in a comment on the PR itself...

[2017-02-15 20:02] phil-levy opened #21 "Update Python to 2.7.13 in next builds"
A number of security vulnerabilities were fixed.
That should say Python in the title.

[2017-02-16 16:39] jamesg123 commented on #18
@adorton-adobe -Yes it will be in 1.0.1

[2017-02-16 22:06] phil-levy commented on #2
PR should address this.  Closing.

[2017-02-16 22:06] #2 closed

[2017-02-16 22:07] phil-levy commented on #16
This is a change we want to make, but it will come in the next batch of change requests, so closing this issue for now.

[2017-02-17 00:47] adorton-adobe opened #22 "Docker support?"
The other day, a customer asked if we have a Docker image for the User Sync Tool.  I told him we don't that I know of, but I'd check with the dev team to see if it's something we'd look into supporting.  I don't know how much demand we'll get for one, but it might be a nice-to-have feature sometime in the future.

Here's a quick proof-of-concept Dockerfile I threw together, in case anyone wants to

[2017-02-17 22:11] phil-levy commented on #5
Documentation updated.

[2017-02-17 22:11] #5 closed

[2017-02-18 01:38] phil-levy commented on #18
PR accepted.  Should be fixed in next release.

[2017-02-18 01:38] #18 closed

[2017-02-18 01:39] phil-levy commented on #17
PR accepted.  This should be fixed in the next release.

[2017-02-18 01:39] #17 closed

[2017-02-18 01:45] phil-levy commented on #9
So I think this is now in flight with the following changes:

- support for Enterprise and AdobeIds in deletion along with Federated Ids
- Addition of --delete-nonexistent-users and --remove-entitlements-for-nonexistent-users as "remove" actions
- Addition of "--users mapped" as a shorthand for restricting the users to the directory groups listed in the config file group map.

Closing the issue.

[2017-02-18 01:45] #9 closed

[2017-02-22 00:05] shaungarcia opened #24 "Shaun Garcia - Customer Feedback"
Please provide comment on the below

"In my testing, the only way to get SyncTool to work is to point the connector-ldap.yml config file to the root of our Active Directory so as to encompass both locations (Obviously I could place the Adobe groups in the "accounts" OU with the users but this messes with our structure). With this setup, SyncTool then syncs my entire directory of users, meaning we

[2017-02-22 00:46] phil-levy commented on #24
Thanks for your comments.  You are really giving the tool a run through.

1. If there is an LDAP query that returns the users you want, you should be able to specify it as the all_users_filter in the ldap config file.  Additionally, there is command line parameter --users-filter that may be helpful.

2.  If you use --users group "a,b,c" --process-groups, that should restrict users to just those in

[2017-02-23 11:33] shaungarcia commented on #24
Hi Michael,

I’m replying to all on this email so you can see the format of incoming mail which I cannot respond to.

Best Regards
________________________________
Shaun Garcia | Principal Customer Success Manager | Adobe Systems |  +61 424 980 888 | shaun@adobe.com<mailto:shaun@adobe.com> | www.adobe.com.au<http://www.adobe.com.au/>

[id:image001.png@01D26C5F.4BAE1B00]

From: phil-levy <notificat

[2017-02-23 20:44] phil-levy opened #25 "Unhandled exception if username present in user file with no domain"
If syncing from a file where the file looks like this:

firstname,lastname,email,country,groups,type,user,domain
John,Smith,jsmith@domainxyz.us,US,"all_apps",federatedID,jsmith

then you get an unhandled exception (see below).  It should either take the domain from the email address or give a more reasonable error message.

2017-02-23 12:12:08 16808 ERROR main - Unhandled exception
Traceback (most

[2017-02-23 20:52] phil-levy opened #26 "Sync fails to recognize federated users with username-based login and keeps recreating them"
If a federated domain is set up for username based login (rather than email based), then user sync does not seem to recognize users.  If you run the same sync repeatedly, it creates the same users and adds them to the same PLCs on  every run.

[2017-02-23 20:59] phil-levy opened #27 "User Sync fails to remove users from PLCs when they are deleted in the directory"
When a user who was a member of a mapped group is removed from the directory, the group membership is not removed.  This is when run as

python user-sync.pex --users file example.users-file.csv --process-groups

From the behavior, the loop over Adobe group members checking that each is still in the directory and removing from group if not is missing or incorrect.

[2017-02-23 21:05] adobeDan commented on #26
Good catch, Phil.  Can you attach a log of two successive runs?  That will save some investigation time.

[2017-02-23 21:06] phil-levy commented on #24
I have verified the problem where users are not removed from groups when they are removed from the directory.  We'll get on fixing that.  I created issue #27 to track it specifically.
https://github.com/adobe-apiplatform/user-sync.py/issues/27

thanks
phil

[2017-02-28 02:03] phil-levy opened #30 "file paths in config files should be interpreted relative to the file in which they appear"
If there is an entry in the dashboard-config.yml file like this:

   priv_key_path: private.key

then the file should be interpreted as relative to the directory containing the dashboard-config.yml file.  Now it appears it is relative to the current directory so that if there is a -c option for the config file location, this file ends up not being found unless it is fully qualified.

[2017-03-01 05:30] phil-levy commented on #27
This is fixed in release 1.1.

[2017-03-01 05:30] #27 closed

[2017-03-01 05:52] adobeDan commented on #24
@shaungarcia Can you check with the customer as to whether there are issues they have other than #27 which is now fixed?  If not I'd like to close this issue.

[2017-03-01 06:21] phil-levy commented on #30
I believe this error also occurs for other file references.  All unqualified file references in the configuration files should be relative to the file containing them.  Otherwise, you can't really use the -c option to point to a set of files outside of the current directory.

[2017-03-01 12:04] #26 closed

[2017-03-01 12:22] adobeDan opened #40 "Adobe ID dashboard users not removed from user groups"
(Found in v1.1.1) When doing `--process-groups` and an Adobe ID user is found in the dashboard in a group that should be removed, user-sync issues the appropriate remove command but gets an error result from the server indicating the user is not found.

It's not clear whether this is a client problem (specifying the wrong ID type, perhaps?) or a server problem.   Here's the relevant log snippet ru

[2017-03-01 22:23] bhunut-adobe opened #42 "Dashboard Group not removed if unmapped directory user not in input set"
If you remove an active AD user from an AD group that is being mapped for user sync,
PLC does not get removed from the user.

However, if I disabled AD user that will remove PLC in the console just fine

[2017-03-01 22:31] adobeDan commented on #42
@bhunut-adobe This looks like it might be a misunderstanding of intended functionality as opposed to a bug.  Please attach your user-sync-config.yml (no credentials please), the exact command line invocation you used, and the DEBUG-level log.  (You may have to add .txt to all these files in order to attach them.)

[2017-03-01 23:29] adorton-adobe opened #43 "Mapped PLCs not present in '--users group' argument are removed if user is disabled"
It appears that mapped PLCs are removed from a disabled user (disabled in the directory) even when those PLCs are not specified in the `--users group` argument.

Example-

Here are two users disabled in my test AD environment:

![disabled ad users](https://cloud.githubusercontent.com/assets/25495410/23485936/fecf2378-fe9a-11e6-985c-3367fdf99de8.PNG)

Test User 1 exists in my admin console, and is

[2017-03-01 23:34] phil-levy commented on #43
The set of groups to be managed is the range of the group mapping in the config file which in this case includes All_Apps.  It is not dependent on the --users groups list.

[2017-03-02 00:01] adorton-adobe commented on #43
But I thought that `--users mapped` is being introduced to cover the range of group mapping in the config?

If the contents of the group mapping in the config override the contents of the `--users group` list, then why have the `--users group` param?

[2017-03-02 00:03] bhunut-adobe commented on #42
If the user is no longer a member of an AD group shouldn't the user right to the product get revoke also?

I can see a scenario where an employee goes from Creative to HR department and now no longer need Creative Cloud product for the role.

I ran the following command:

`./user-sync --process-groups --users group "SG-Adobe-All-App"`

[user-sync-config.txt](https://github.com/adobe-apiplatform/us

[2017-03-02 00:06] adobeDan commented on #43
Further to what Phil said: you can't use the same group mapping across different sync jobs and expect that mapping to be applied only to a subset of users that are specified via the `--users` parameter: the mapping is applied to *all* users on the Adobe side.  The intended approach is that every sync job with --process-groups that is restricted to a subset of users on the customer side should have

[2017-03-02 00:09] adobeDan commented on #43
I will add that we already have an enhancement request to be able to filter the users who are considered for sync from the Adobe side.  That enhancement will allow different sync jobs to have overlapping target mappings but not interfere with each other by allowing those jobs to filter out the Adobe users that are not addressed by their source users.  I am closing this issue since the behavior is

[2017-03-02 00:09] #43 closed

[2017-03-02 00:19] bhunut-adobe opened #44 ""error.internal.exceptionflys" message: "Severe exception: null" When creating new EnterpriseID user"
This error occurs when creating a new EnterpriseID user in the stage environment. I was not able to replicate this with FederatedID or in the production environment.

`ERROR dashboard.owning.action - Error requestID: action_3 code: "error.internal.exceptionflys" message: "Severe exception: null"`

The users were created successfully regarding the error message.

![image](https://cloud.githubuserco

[2017-03-02 04:30] phil-levy commented on #42
In the log I see sync removing jdoe1 from the group.  Assuming this is after removing them from the directory, this looks like correct removal behavior as you were expecting.

[2017-03-02 04:41] phil-levy opened #45 "Add version and invocation parameters to the log"
It is hard to diagnose problem when customers provide logs without this.

[2017-03-02 04:42] phil-levy commented on #40
Note that this is already a work item for the next release.

[2017-03-02 07:02] phil-levy opened #46 "Add action summary to log"
Accumulate statistics and write them to the log file.  Including:

Number of directory users
Number of Adobe users
Number of users created
Number of users updated
Number of users with updated groups
Number of users removed from mapped groups because they were not in directory
Number of users removed/deleted
Number of users with no changes

[2017-03-02 19:09] bhunut-adobe commented on #42
Jdoe1 was removed after I disabled the AD account.

Jdoe2 is still an active account but only removed from the AD group. Jdoe2 PLC did not get remove after the sync.

I ran the same parameters for both cases.

[2017-03-02 19:10] phil-levy commented on #44
Looks like this is not related to user sync.  It is a data issue with the organization on the stage environment.  Closing.

[2017-03-02 19:10] #44 closed

[2017-03-02 20:08] adorton-adobe commented on #43
Thanks @adobeDan.  I'm not totally sure I 100% understand.  I'll let you know if it comes up as an issue for a customer.

Can we at least make sure the user guide states that the sync tool will consider all PLCs in the config mapping regardless of the groups specified in `--users group`?

[2017-03-02 20:09] adobeDan commented on #21
@phil-levy Can you clarify what you mean?  The PEX that we build doesn't contain a Python executable; it uses the executable present on the system that runs the PEX.  Building with any version of 2.7 should suffice; it's the people who *run* the PEX that should be running the latest Python.

Perhaps you are talking about the pre-built libraries we use on Windows?  Those also can be for any version

[2017-03-02 20:15] adobeDan commented on #22
@adorton-adobe Would it be enough for us simply to provide the Dockerfile for building this target?  That way customers could run that Dockerfile on top of the OS of their choice in the docker container.  It seems like anyone who is sophisticated enough to use Docker containers would get more mileage out of the Dockerfile and building their own than for us to provide a pre-build container.  That w

[2017-03-02 20:22] adobeDan commented on #8
@jamesg123 Since you are using the `umapi_client.UserAction` object to create the actions, you can use the existing `execution_errors` command on that object to get the error together with the specific command data that produced the error.

[2017-03-02 20:24] adobeDan opened #47 "can't create new users of type Adobe ID"
UserSync is not creating (i.e., using the UMAPI to invite) new users of type Adobe ID.  In fact there is no way to specify Adobe ID as the identity type for a new user.

[2017-03-02 20:26] adobeDan commented on #40
This seems related to #47.  Is that what you mean is the work item for the next release?

[2017-03-02 20:29] phil-levy commented on #21
The builds we create should be built with 2.7.13 and the embedded version that goes into the non-windows platform builds should be 2.7.13.

[2017-03-02 21:07] adobeDan commented on #47
I have a fix ready for this, will check it in to the v1 branch later today.

[2017-03-02 21:23] adorton-adobe commented on #22
Thanks @adobeDan, that seems like a reasonable solution.  For customers that ask, I'll provide that Dockerfile with the disclaimer that we don't support it and are providing it on an as-is basis.  I think we can close this out for now, since I don't think it's smart to add it to the repo until it's been thoroughly vetted and tested (I have very little Docker experience).

[2017-03-02 21:23] #22 closed

[2017-03-03 01:26] adobeDan opened #48 "directory should be able to contain users of multiple identity types"
Customers with centralized user directories should be able to have users of different types in those directories (e.g., different domains some of which are enterpriseID and some of which are federatedID, or adobeID users mixed in with enterpriseID users).

To support this, we should get the identity type from a directory attribute, in the same way we use the `type` column in CSV input.  There is a

[2017-03-03 01:33] phil-levy opened #49 "Unhandled exception when slight error in config file"
If you have
limits:
    max_deletions_per_run= 10

you get
2017-03-02 17:31:55 17952 ERROR main - Unhandled exception
Traceback (most recent call last):
  File "c:\user-sync\.pex\install\user_sync-1.1.1-py2-none-any.whl.1d38cd7281dcf25d7c48135e8d87ce573a9f8c9f\user_sync-1.1.1-py2-none-any.whl\user_sync\app.py", line 256, in main
    config_loader = create_config_loader(args)
  File "c:\user-sync\.

[2017-03-03 07:02] adobeDan commented on #49
Phil, I'm not sure what you're expecting here.  The YAML parser is failing, and giving the exact error message: expected a space, got no space.  It's just formatted without the quotes.  Are you complaining about the traceback in front of the error message?  Then we should catch the YAML parsing error, log it, and quit cleanly.  That seems like a reasonable enhancement request.

[2017-03-03 07:25] adobeDan opened #50 "Extension-added groups are not removed"
If you use an extension to add a group to a user, then that group is not removed on later runs if the user is removed or if the extension changes to no longer add that group.

[2017-03-03 08:15] adobeDan commented on #42
Kevin, can you reproduce this with input from a CSV file instead of AD?  That way you could upload the CSV so we can see the exact user details.

[2017-03-03 08:20] phil-levy commented on #42
What AD groups are the 2 user accounts in?  I can't tell what users would be selected by --users group "SG-Adobe-All-App"

[2017-03-03 08:22] adobeDan commented on #50
fixed in v1, waiting for next merge to main.

[2017-03-03 08:24] adobeDan commented on #47
fixed in v1, waiting for merge to main.

[2017-03-03 08:24] adobeDan commented on #40
fixed in v1, waiting for merge to main.

[2017-03-03 08:24] adobeDan commented on #25
fixed in v1, waiting for merge to main.

[2017-03-03 16:45] adobeDan commented on #50
Reopening until we merge to main.

[2017-03-03 16:45] adobeDan commented on #47
reopen until we merge to main

[2017-03-03 16:46] adobeDan commented on #40
reopen until we merge to main

[2017-03-03 16:49] adobeDan commented on #25
reopen until we merge to main

[2017-03-03 16:53] adobeDan opened #52 "user-sync should work in Python 3 as well as Python 2"
As Python 2 end-of-life is approaching, we need to port user-sync to Python 3 for customers who are transitioning.  As with [umapi-client](https://github.com/adobe-apiplatform/umapi-client.py), we should support both Python 2 and 3.

[2017-03-03 17:33] bhunut-adobe commented on #42
Here are the current user detail in AD

GivenName : Joe
SurName   : Doe 1
Mail      : jdoe1@ccestestdomain.com
Country   : US
MemberOf  : {CN=SG-Adobe-All-App,OU=Groups,OU=CCESTest Users,DC=ccestestdomain,DC=com}
Enabled   : False

GivenName : Joe
SurName   : Doe 2
Mail      : jdoe2@ccestestdomain.com
Country   : US
MemberOf  : {}
Enabled   : True

1st Sync - Jdoe1 and Jdoe2 are enabled and in SG-

[2017-03-06 18:06] bhunut-adobe commented on #50
@adobeDan does this fix issue #42  also?

[2017-03-06 19:13] adobeDan commented on #50
@bhunut-adobe Not sure, I am planning to investigate #42 today or tomorrow.

[2017-03-06 23:20] phil-levy commented on #42
After staring at this some more, there probably is a bug here and also the need to specify more crisply that the test is done based on the user set specified as determined by the ldap query, the --users option and any --user-filter that is included.  We'll work on it.

[2017-03-06 23:45] adobeDan commented on #42
@bhunut-adobe are you using v1.0 of User Sync or are you using v1.1.1?  Because this behavior looks like #27 which was present in v1.0 but not in v1.1.1.  Can you please do one more sync run in v1.1.1 to make sure?

[2017-03-07 00:35] phil-levy commented on #21
Isn't this done at this point?

[2017-03-07 00:40] adobeDan commented on #21
@chesterl86 can you please confirm that the 1.1.1 builds and later are being done with 2.7.13?

[2017-03-07 19:07] chesterl86 commented on #21
Yup, thats right.

[2017-03-07 19:07] #21 closed

[2017-03-08 21:27] prynhart opened #55 "Error undefined symbol "PyUnicodeUCS2_FromUnicode" on EL7 64-bit"
I've copied the example files, and just edited dashboard-config.yml & user-sync-config.yml (to try and get something minimal working) - but I'm seeing an Unhandled Exception from the user-sync tool, and not sure how to proceed.

Here are my edits to the two yml files (actual values removed and replaced with X's):

[code]

I thought that this would be enough to establish a secure connection - not s

[2017-03-08 23:10] prynhart commented on #55
Okay - I see this is due to the error undefined symbol "PyUnicodeUCS2_FromUnicode".  We are on CentOS EL7 64-bit, not sure what we're missing for the PEX to fail like this ?

Thanks,

Patrick

[2017-03-08 23:51] bhunut-adobe commented on #42
@adobeDan  I am using 1.1.1. I rerun it and the same result.

[2017-03-09 00:22] bhunut-adobe commented on #55
@prynhart I had the same issue with ubuntu 1.1.1 release. I ended up downloading the code and build it under my environment.

Here is my quick note on how to build from the src under CentOS 7 .

[code]

[2017-03-10 03:53] phil-levy commented on #49
Yes, that would be good.  The giant stack trace is not a good first experience since this is a likely error for a new user to make.

[2017-03-10 21:52] adobeDan opened #65 "Use the terms "product configuration" and "user group" everywhere."
The docs should all consistently use the terms "product configuration" and "user group" where the specific type of group is being referred to.

[2017-03-10 21:58] adobeDan commented on #50
Closing as fix is in v1 branch and will be included in 1.1.2 build.

[2017-03-10 21:58] #50 closed

[2017-03-10 21:59] adobeDan commented on #42
I think I have a line on this one.  Assigning it to me.

[2017-03-10 23:43] prynhart commented on #55
@bhunut-adobe: Thank you very much - I will need to try those build instructions.

To the Adobe User-Sync.py team, do you think it would be possible to have an EL7 build provided.  In our organisation, we are only running EL7 on Servers (i.e. can't deploy Ubuntu due to policy).  If an EL7 PEX build is not something that can be provided, can there be come official build instructions  for this OS ?

[2017-03-10 23:48] prynhart commented on #55
Or maybe there is some way that a 'universal' Linux build could be made (i.e. one that supports both Ubuntu & EL7) ?

[2017-03-12 21:35] adobeDan commented on #42
This is fixed and waiting for merge into v1.

[2017-03-12 21:38] adobeDan opened #67 "Only Federated ID users are being processed for removal/deletion"
The docs say that all users can be removed/deleted, but in fact the code in `process_orphaned_dashboard_users` still restricts itself to processing Federated ID users.

(I noticed this when fixing a different issue; now I'm going to try to repo.)

[2017-03-12 21:46] adobeDan commented on #67
Yes, I can repro.  Only federated users are processed for removal.  Marking as a bug and fixing it.

[2017-03-12 23:11] prynhart commented on #55
Just wanted to confirm that I'm seeing this when using the CentOS build provided `user-sync-centos-v1.1.1.tar.gz` when running under EL7 and using python-2.7.5-48.el7.x86_64

[2017-03-13 17:07] #42 closed

[2017-03-13 17:57] chesterl86 commented on #55
This may be a result of a difference in unicode that was set when compiling python 2.7.13. Will re-compile python using a different unicode to see if I can reproduce what you are seeing.

[2017-03-13 21:42] adorton-adobe opened #68 "TypeError: cannot concatenate 'str' and 'NoneType' objects"
Customer is getting the following error:

[code]

I don't want to include the whole log for the run because it contains PII stuff that we don't want in Github.

It occurs after the directory user queries.  I haven't had time to do much investigation, but I current guess is that we're getting a malformed "mail" attribute that is causing problems with this function in `rules.py`:

[code]

The `user_

[2017-03-13 22:53] chesterl86 commented on #55
Python installations seems to default to using unicode ucs2. After re-configuring and re-compiling python 2.7.13 using `--enable-unicode=ucs4` and running 1.1.1, I am able to reproduce the issue being reported by Patrick when running the tool.

@prynhart Out of curiosity, would you mind doing a quick test and run `python -c 'import sys; print sys.maxunicode'`. Im interested to see what the output

[2017-03-13 23:05] prynhart commented on #55
Sure thing - and thank you for investigating :-)

Firstly, just to confirm this is an EL7 box using the default (vendor shipped RPMs):
[code]

And for the command you've requested:
[code]

[2017-03-14 00:04] adobeDan commented on #68
@adorton-adobe This turns out to be a dup of one of the issues I found and fixed with #47.  Can you try reproing in the tip of the v1 branch?  I think it will be gone.

[2017-03-14 00:08] adobeDan commented on #24
Haven't heard back from @shaungarcia since we fixed #27, so I'm assuming that no news is good news.

[2017-03-14 00:08] #24 closed

[2017-03-14 00:50] adobeDan commented on #25
fixed in v1, so closing, since that's our default branch.

[2017-03-14 00:50] #25 closed

[2017-03-14 00:51] adobeDan commented on #68
Yes, I've confirmed this is a duplicate of #25, which is fixed in v1.  Closing as a dup.

[2017-03-14 00:51] #68 closed

[2017-03-14 00:53] #67 closed

[2017-03-14 05:04] #65 closed

[2017-03-14 05:05] #40 closed

[2017-03-14 05:05] adobeDan commented on #47
fixed in v1

[2017-03-14 05:05] #47 closed

[2017-03-14 20:06] adorton-adobe opened #76 "Document user_username_format and user_domain_format"
I don't see any mention of user_username_format or user_domain_format in the Sync Guide.  I'm helping a customer that uses username-based auth on their federated domain, and we had to search the source code to figure out how to set username and domain on user records.

[2017-03-14 21:08] adobeDan commented on #76
Yep, great point.  See also #48: I'm doing work there to add a `user_identity_type_format` so you can have different types of users in your one directory system.  We will need to document this with those others when added.

In general our docs are not very good about how to work with username-based federation.  And there are a lot of bugs about that in the current release, all of which I think are

[2017-03-14 21:09] adobeDan commented on #76
@phil-levy Can we have @jabogart take a crack at this?

[2017-03-14 22:52] phil-levy commented on #76
What is the the problem?  Also why do we want more than one identity type in a directory.  Seems like that would be very problematic for users.  Is this really a multi-domain thing?

[2017-03-14 23:09] adobeDan commented on #76
@phil-levy I think you meant your comment for #48.  Happy to discuss there.  For this issue, it's just one of updating the docs to explain how to set up your connector-ldap for the cases where you are doing federated with username-based login.  You have to have attributes for the username and the domain, as well as the email.

[2017-03-14 23:48] phil-levy commented on #76
Who knows the answer about  non-email username?  We'd have to gather the information.

[2017-03-14 23:51] phil-levy commented on #48
Is this task mainly adding the ability in the customization to set the identity type?  Or are you thinking of adding more declarative customization in the connector-ldap config file?  Seems low use enough that we could live with the former for a long time.

[2017-03-15 02:31] adobeDan commented on #76
Both Andrew and I know the answer.  You have to set the value of `user_username_format` and (optionally)`user_domain_format` in your connector-ldap.yaml config file.  You set them to a string of the form `'{attrname}'` where the value of the `attrname` attribute is the value to use, or if it's a fixed value (as it often is for domains), then you set the format string to be that value, as in `'doma

[2017-03-15 02:52] adobeDan commented on #48
So there is supposed to be a new-user type override possible in connector-ldap that applies to everyone read from the directory (it's an undocumented field in the config called `user_identity_type`), but I don't think it's actually implemented properly.  But having a per-connector override isn't too useful, because every sync run only uses one connector, so you might as well just set the `new_acco

[2017-03-16 00:47] adobeDan commented on #49
@ianmak Next time please reference the issue in your commit message, using the form "Fixes #49" (or whatever the number is), because that way when your commit gets merged the issue will auto-close.

[2017-03-16 00:47] #49 closed

[2017-03-16 15:41] Luci2015 opened #83 "documentation update"
Please update the pdf and word documentation on page 10
in "Example configurations, under user-sync.config.yml:
 “dashboard" should not contain attribute “user-identity-type”. Should be under "directory"

Thanks!

[2017-03-16 15:43] adobeDan commented on #83
I believe we should patch the published docs with this change in advance of the next release.  That will mean changing out the PDF to be one created from the updated doc set.  @phil-levy we should discuss how we want to create the PDF version.

[2017-03-16 15:52] Luci2015 opened #84 "mix of adobeID and federatedID issue"
use case:
 - user.1@somedomain.com   is added to adobe.com as Adobe ID and is not part of any Org.
 - my Org has the "somedomain.com" owned now, and I want to add the same e-mail to it as federatedID
 - this user is added to an AD group and I try to sync up with AC running it with **--users group "Adobe Acrobat DC"  --update-user-info --process-groups**   arguments.
Result: This is an *ERROR* with

[2017-03-16 16:03] adobeDan commented on #84
@Luci2015 Can you confirm what the `user_identity_type` setting was?  Were there other Federated ID users who were correctly created by this run?

[2017-03-16 16:07] Luci2015 commented on #84
sorry, I forgot to mention that the default value for user type in config is: federatedID

yes, other federatedIDs got created as they only exist as federated.
I have checked a bunch of them and they only exist in backend as "federated ID"

[2017-03-16 19:01] adobeDan commented on #21
We have decided to build with the platform python where it exists.  So this only applies to Windows now.

[2017-03-16 19:03] adobeDan commented on #16
Looks like this bug

[2017-03-16 19:10] #16 closed

[2017-03-16 19:19] adobeDan commented on #55
Resolved: We will be building all future releases of User Sync with the platform-native python (i.e, the one that ships with the platform) where there is one.  On Windows we will use the standard python.org build of the latest 2.7 release, and where we use custom builds of extensions on Windows we will post them in the sources so people can build their own.

[2017-03-16 19:19] #55 closed

[2017-03-16 19:22] adobeDan commented on #76
@phil-levy Can you get to this before you leave on vacation or do you need me to do the doc update?

[2017-03-16 20:03] phil-levy commented on #76
I can do.

[2017-03-17 00:33] #83 closed

[2017-03-17 00:35] adobeDan commented on #76
Fixed in PR #86 but I screwed up the commit message so it didn't auto-close.

[2017-03-17 00:35] #76 closed

[2017-03-17 03:56] phil-levy opened #87 "User protection feature"
Create a feature to protect Adobe users from being updated or removed by User Sync.  The purpose of this feature is to provide a means for customers to prevent User Sync from interfering with users that they are administering manually.

We extend the existing `dashboard` configuration with the ability to identify Adobe accounts that are immune from update, group change, and removal.  Users so iden

[2017-03-17 04:00] phil-levy opened #88 "Call UMAPI Client directly and don't create JSON structures for UMAPI operations"
Call UMAPI client directly as user operations are identified.  It will automatically bundle operations and run them in batches.  Clean up code so there isn't duplicate functionality for creating and managing JSON requests; let UMAPI client handle this.

[2017-03-17 04:09] phil-levy opened #89 "Create more comprehensive test environment and better end-to-end tests"
- Create the ability to mock UMAPI call results so that manually created results can be returned from UMAPI for specific tests.

- Create the ability to mock directory call results so that manually created results can be returned from directory query calls.

- It will probably also be necessary to mock authentication and access calls.

- Create some tests using these capabilities:
     - Basic cre

[2017-03-17 16:32] adobeDan commented on #87
@phil-levy Two suggestions:

- We have been using hyphens in the config file parameter names: so `exclude-group` and `exclude-users` is I think what you meant.
- It's awkward to have `exclude-group` (singular) and `exclude-users` (plural).  Since they both allow multiple values, I am thinking we should go with `exclude-groups` and `exclude-users`.

Additionally, I think I should change the (recent

[2017-03-17 16:39] phil-levy commented on #87
Yes, those all sound like excellent suggestions.  I'll try to edit the spec above.

[2017-03-17 18:08] phil-levy opened #90 "Complete work on account removal"
In particular, --remove-entitlements-for-nonexistent-users

[2017-03-17 20:43] #45 closed

[2017-03-17 20:44] adobeDan commented on #87
I'll take this, since I'm already in that code.  I think I can get it done for 1.2.

[2017-03-17 21:43] adobeDan commented on #87
@phil-levy Now that I'm working on the feature, I realize the spec needed to be updated to specify that the exclude parameters do not prevent creation of users on the Adobe side that would then be excluded from further updates.  So I updated it.  Let me know if you think we should resolve this edge-case differently, but I think that would be confusing.

[2017-03-17 21:51] phil-levy commented on #87
That sounds fine.  The spec didn't have creation on the list anyway but important to emphasize this.

[2017-03-17 23:58] adobeDan commented on #87
Updated the spec to specify, as @phil-levy and I have agreed, that by default nothing is excluded so all of our sample files should exclude Adobe IDs because that's a best practice.

[2017-03-18 16:17] adobeDan commented on #87
@phil-levy If you're around please take a look at my proposed spec change: to move these keys into the "dashboard" section of the config file (rather than adding a new section).  Also look at the PR I'm proposing for the beginning of this, which converts the `managed_identity_types` to `exclude_identity_types`; it's got the structure that will be expanded on to add the other tests.

[2017-03-18 17:49] phil-levy commented on #87
That seems like a good simplification.  One less thing and the location is logical.

[2017-03-18 19:35] adobeDan opened #95 "overhaul of names and usage of config settings and command-line args"
The "Enterprise Dashboard" has been rebranded to the "Enterprise Admin Console" everywhere but, apparently, in User Sync.  While this would be a rather widespread change, affecting not only the code but also the configuration options and configuration file names, and while it would *not* be backward compatible, it's one that I believe we should make sooner rather than later.

Question: if we did t

[2017-03-18 19:35] adobeDan commented on #95
@phil-levy Need you to look at this before you go on vacation.

[2017-03-19 02:39] phil-levy commented on #95
I thought it was rebranded to "Admin Console" to cover more than enterprise and as far as I know that is the term we use throughout the documentation.

"dashboard" is used in the configuration in a couple of places.  I don't think it is worth the time, expense, and disruption to make this change but if Neal wants to I have no objection.  We could make it compatible by recognizing both tags so it m

[2017-03-20 01:24] adobeDan commented on #95
Ok I will check with Neal. Good point about accepting both forms for backward compatibility.

It's actually a very easy global replace at the code level, because they are both distinctive terms.

[2017-03-20 01:28] #87 closed

[2017-03-20 15:00] NealMirchAdobe commented on #95
If possible, it would be best to replace any reference of "Enterprise Dashboard" with "Admin Console".  Accepting both would be crafty!

[2017-03-21 00:57] #48 closed

[2017-03-21 01:10] adobeDan commented on #30
@ianmak A more limited version of this is to take all pathnames relative to the location of the main configuration file.  Let's go with this version first, because it's a simpler change for 1.2rc1, and then we will look at making the full change for 1.2 GM.

[2017-03-21 18:04] bhunut-adobe opened #101 "WARNING processor - Found user with no identity type, using"
I get this warning all the time.

2017-03-21 17:57:37 2608 INFO processor - Adobe user not in input user set: enterpriseID,sdoe3@ccestestdomain.com,
2017-03-21 17:57:37 2608 WARNING processor - Found user with no identity type, using enterpriseID: {'username': 'sdoe3@ccestestdomain.com', 'source_attributes': {'username': None, 'domain': None, 'uid': None, 'identity_type': None, 'c': 'MX', 'sn': 'D

[2017-03-21 18:10] bhunut-adobe commented on #101
This issue resolved.

I have to add user_identity_type: enterpriseID to connector-ldap.yml file.

[2017-03-21 18:30] adobeDan commented on #101
@bhunut-adobe I'm reopening because the value for user_identity_type should be inherited down from the directory section of the main file; the value in connector-ldap.yml was meant to be an override.  So this is a bug in the config processing.

[2017-03-22 22:58] ensembledeanw commented on #46
Dan commented in the [PR](https://github.com/adobe-apiplatform/user-sync.py/pull/103) for this issue to also include two more counts:
- number of directory users in the "selected" input set (i.e., filtered set)
- number of Adobe users that were "excluded from operations" (via the exclude_parameters)

[2017-03-23 04:56] #30 closed

[2017-03-23 05:19] adobeDan commented on #46
Fixed with PR #108.

[2017-03-23 05:19] #46 closed

[2017-03-23 14:12] adobeDan commented on #90
OK, so I am not going to add yet another list option for this kind of removal, instead I am going to make all the list options use the name `orphan` rather than `remove` or `delete` so that we just have one set of list options that apply to all three remove/delete options.  That will make the usage instructions a lot clearer as well.

[2017-03-23 14:48] adobeDan commented on #90
Damn!  `--remove-entitlements-for-orphans` sounds really bad.  I might have to stick with `--remove-entitlements-for-orphan-users`.  Going to look for a better word in the thesaurus.  Hmmmm.  How about `stray-users` or `strays`.  That works better.

[2017-03-23 15:14] adobeDan commented on #46
Reopening because there are some bugs in the impl.  Also the original request is confused: users can be removed from mapped groups without being strays.  And I don't believe there is any need to differentiate users that had attributes updated versus users that had group groups updated.  And we never do more than one kind of stray processing in a run.  So I believe the right statistics are:
- Direc

[2017-03-23 16:42] adobeDan commented on #101
So directory_csv and directory_ldap had the same bug: neither was inheriting the user_identity_type from the main config file, because neither was being given it in app.py.  directory_csv had an additional bug where it wouldn't apply the default even if it were specified.

[2017-03-23 23:30] phil-levy commented on #90
I haven't followed the discussion,  but DO NOT use the term orphan in any names.  Please use the name we speced  remove entitlements for nonexistent users.  Hold release if this needs more discussion.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Daniel Brotsky <notifications@github.com>
Date: 3/23/17 4:48 AM (GMT-10:00)
To: "adobe-apiplatform/user-sync

[2017-03-23 23:31] phil-levy commented on #90
Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Daniel Brotsky <notifications@github.com>
Date: 3/23/17 4:48 AM (GMT-10:00)
To: "adobe-apiplatform/user-sync.py" <user-sync.py@noreply.github.com>
Cc: Philip Levy <plevy@adobe.com>, Author <author@noreply.github.com>
Subject: Re: [adobe-apiplatform/user-sync.py] Complete work on account removal (#90)

Damn! -

[2017-03-24 04:20] adobeDan commented on #90
No worries, @phil-levy, we won't release with new names (and none of the proposed names involve orphans :).  We can discuss next week.

[2017-03-24 12:33] adobeDan commented on #90
Finally settled on using "unmatched" instead of "nonexistent" externally, and "strays" instead of "orphans" internal to the code.

[2017-03-24 12:39] #90 closed

[2017-03-24 12:39] #101 closed

[2017-03-24 18:11] adobeDan commented on #84
@Luci2015 Sanitized log is attached to this comment.  If you still have the log in your possession, can you look for all the log messages prior to the error reported for action_39 that have the same email in them?

Also, can you try and repro (or have the customer repro) this situation using the [1.2rc2](https://github.com/adobe-apiplatform/user-sync.py/releases/tag/v1.2rc2) build?  Or is to too s

[2017-03-24 18:21] adobeDan commented on #84
@Luci2015 The latest log you sent me from your customer (run with the 1.2rc1 build) shows no sign of this problem.  Are they still encountering it?

[2017-03-24 18:26] bhunut-adobe opened #108 "Feature request: Log Rotation"
Need a way to prevent server disk space from fill up with log files from UST.

add log rotation interval of daily, weekly, monthly, yearly, or by # of day would solve this issue.

[2017-03-24 20:02] adobeDan commented on #108
@bhunut-adobe Can you be a little more precise on the additional requirements you are asking for beyond what the system already does?  AFAICT, the log files are already "rotated" on a daily basis; that is, the log file that is used is always named containing the day that the session was started.  So no single log file will get too big to fill the server disk, and the admins are free to set up what

[2017-03-24 20:08] adobeDan commented on #95
@phil-levy @NealMirchAdobe I don't think we have enough customers yet that we need to be overly concerned with backward compatibility.  As long as we can give simple, global search/replace instructions that go along with a release, I think we have few enough users that we can just put it in the release notes to update their configs/scripts and we can have AGS work with the few existing customers t

[2017-03-24 20:21] adorton-adobe commented on #95
Seems reasonable to me.  I ran into this earlier today on a call.  It wasn't difficult to figure out which keys needed to be renamed in the config.

[2017-03-24 23:22] raymond-ensemble opened #110 "Document CSV config-file settings; explain why warning occurs about 'unsused LDAP connector'"
**Steps**
1. Run the user-sync without any arguments (python user-sync.pex) or reading from a csv file only (python user-sync.pex --users file users-file.csv --process-groups)

**Results**
- There would be a warning message: "WARNING config - Found unused keys: ['ldap'] in: <user-sync-config.yml>.directory.connectors"

[2017-03-24 23:23] raymond-ensemble opened #111 "(Trivial) Typo in INFO log when reading from unmatched user file."
**Steps**
1. Run **python user-sync.pex --input-unmatched-users test-remove.txt --delete-unmatched-users**

**Results**
- There's a line that says "2017-03-24 15:59:16 9468 INFO main - Read 1 **umatched** users."

[2017-03-24 23:23] ianmak commented on #110
not sure if this is actually a bug, but I asked Raymond to log this anyways just to discuss it

[2017-03-24 23:27] raymond-ensemble opened #112 "Unhandled Exception is shown when syncing users from csv file and having extended_attributes in config"
**Steps**
1. Set up a custom attribute in the config:

2. Run the user-sync while pointing to a csv user file: **python user-sync.pex --users file users-file.csv**

**Results**
- This error would appear:

[2017-03-24 23:32] adobeDan opened #113 "(Trivial) user-sync should have umapi_client use its log stream"
user-sync isn't passing its logger to umapi_client, in order to make sure they are using the same settings.  That should be done.

[2017-03-24 23:38] adobeDan commented on #110
I don't actually think this is a bug.  If the config file is set up to use the ldap connector, and the user switches to csv input, I think that's an appropriate warning.  If they are using csv regularly, they should probably replace the ldap settings with csv settings (yes, we have those :).

I'm changing this to be a docs request, because we need to document the CSV settings and show that you can

[2017-03-24 23:40] adobeDan commented on #88
@ianmak I'd rather have you working on something else.  Look for assignments coming your way.

[2017-03-25 00:01] #111 closed

[2017-03-25 00:01] #113 closed

[2017-03-25 00:06] adobeDan commented on #52
@ianmak I'd like you to take a shot at this.  First look at the sources for the [umapi-client](https://github.com/adobe-apiplatform/umapi-client.py), where I did this conversion a while ago.  The key is to use the `six` module, which is a shim layer that maps both the 2.7 and 3.x modules to the same namespace.  Then you find all the places where 2.7-isms are used, and you convert them to be the `s

[2017-03-25 00:10] adobeDan commented on #112
@raymond-ensemble Can you please attach your user-sync-config.yml file in full, rather than just copying in the segment?  I want to make sure I can repro this.  Also can you post your log file and users file?

Note: if they contain sensitive data (like people's emails that you don't want public), feel free to email me the config file and log file and users file directly.  Thanks!

[2017-03-25 00:15] adobeDan commented on #112
@raymond-ensemble By the way, at first glance what this looks like to me is that you have an empty sn field for one of your rows, and that comes in as a source attribute value of None.  Then on line 3 of your code you say `int(sn)` which becomes `int(None)` which gets you the error you are seeing.

The way you can tell this is in your extension code is that the bottom of the trace says 'File "", l

[2017-03-25 00:31] ianmak commented on #52
sure thing I will take a shot at this.

[2017-03-25 00:33] raymond-ensemble commented on #112
I don't encounter this issue when I run it pointing to AD. I tried adding the custom attribute "sn" in the users-file, but I still get the error.

I've converted the files to .txt in order to upload it here.

[users-sync-config.txt](https://github.com/adobe-apiplatform/user-sync.py/files/869491/users-sync-config.txt)
[users-file.txt](https://github.com/adobe-apiplatform/user-sync.py/files/869505/u

[2017-03-25 00:56] raymond-ensemble opened #114 "Cannot re-add an previously existing user and change their name at the same time"
**Steps**
1. Sync and add a new user from AD with a first name: "Name1"
2. Go to the dashboard and delete the user
3. In AD, change that user's name from "Name1" to "Name2"
4. Sync the user again with --update-user-info

**Results**
- After the second sync, it would display "Name1" as the first name on the dashboard. Only after you run --update-user-info again would the name be updated to "Name2".

[2017-03-25 01:08] adobeDan commented on #112
You have a bug in your CSV file.  Here's your header row:
[code]
and here's a sample row:
[code]
If you count the commas (i.e., the fields) going across your sample row, and match them with the column names in your header row, you get these column assignments:

* firstname = `!CCE_win`
* lastname = `001`
* email = `ccewin1@ensemble.ca`
* country = `CA`
* groups = `CSV Multi Group 1,CSV Multi Group

[2017-03-25 01:11] raymond-ensemble commented on #112
Ah, I got it to work now. Thanks

[2017-03-25 01:19] adobeDan commented on #114
So I need the log file for your runs (can you attach it) and some more info:

* This is Enterprise ID, yes?  Or, if it's federated, you are using emails to identity people, not usernames?
* In step 2, when you say you "deleted" the user from the dashboard, I assume you mean you went to the Users list and selected the user and hit the minus (-) button, yes?
* In step 3, you mean you changed just th

[2017-03-25 01:23] adobeDan commented on #112
OK, great, glad it's working for you!  I'll close the issue.

[2017-03-25 01:23] #112 closed

[2017-03-25 01:35] raymond-ensemble commented on #114
- I'm using a Enterprise ID.
- Yes
- Yes, just the first name
- Yes. After step 2, I confirmed that the user is gone from the dashboard. Then, after step 4, I confirmed that the user is added back to the dashboard, but with Name. After I ran the update user info, it changed to Name2.
I just changed the name and didn't touch the groups. Here's the log:
[2017-03-24.txt](https://github.com/adobe-apip

[2017-03-25 01:49] adobeDan commented on #114
So there are a lot of firstname updates in the log file :).  Can you tell me which user (email and first name) that you updated?  And what was the name before and what was the name after?  Thanks!

[2017-03-25 02:14] raymond-ensemble commented on #114
I was modifying cce7@ensemble.ca. His name initially was "CCE", then I changed it to "CCE_new_name".

[2017-03-25 21:54] adobeDan commented on #114
OK, great, thanks, I see it now.  In your log, I see you adding the user with the old name in a run at 18:28:40, then adding him again on the next run with the new name at 18:29:23, then updating his name on the next run at 18:29:41.  So I am guessing you deleted him from the dashboard between 18:28:40 and 18:29:23.

Just to make sure I am completely up-to-speed on the logs:  I also see you adding

[2017-03-27 06:41] adobeDan commented on #114
OK, testing with the umapi_client directly I can see that this is a server-side issue: when you "create" a user by actually re-adding an existing user to the organization, no attempt is made to update the user's attributes as specified in the call, even if the `on_conflict` option is set to `updateIfAlreadyExists`.  I've attached [a log of a run](https://github.com/adobe-apiplatform/user-sync.py/f

[2017-03-27 06:41] #114 closed

[2017-03-27 20:00] raymond-ensemble opened #116 "Server Error (500) when trying to sync enterprise and federated users, and process group together"
**Steps**
1. Set up AD with both enterpriseID users and federatedID users (@ensemble.ca = enterprise and @ensemble-systems.com = federated)
2. Add the config setting **user_identity_type: federatedID** under **dashboard:**
3. Run **python user-sync.pex --users group "CCE AD Group 1" --process-groups.** (Only the federatedID users will be added to the dashboard)
4. Remove **user_identity_type: fede

[2017-03-28 00:17] adobeDan commented on #116
@raymond-ensemble I don't think you attached the right log.  There is no 500 error reported in the log.  Also, consider the following:

Yes, it's possible, when using AD, to specify the identity type as a field in the user record.  In your connector-ldap.yml you need to define the parameter `user_identity_type_format` to have a value of the form `"{attribute}"` where `attribute` is the name of the

[2017-03-28 00:21] raymond-ensemble opened #117 "Cannot update country code"
Added more info in my comment below.

**Steps**
1. Set up AD users with country (ie: CA, US or none)
2. In the after_mapping_hook, add: target_attributes['country'] = 'GB'
3. Run the user-sync with **python user-sync.pex --users group "CCE AD Group 1" --update-user-info --process-groups**
4. Go to the dashboard user management and export the user list to confirm the country codes

**Results**
- Th

[2017-03-28 00:26] raymond-ensemble commented on #116
It should be the correct log. At the very bottom of the file, it shows the
`2017-03-27 12:56:11 13856 ERROR main - Unhandled exception
Traceback (most recent call last):
  File "c:\users\raymondf\.pex\install\user_sync-1.2rc2-py2-none-any.whl.f8ddbb45621af04445afc502d8a9ef65e0bf86fb\user_sync-1.2rc2-py2-none-any.whl\user_sync\app.py", line 363, in main
    begin_work(config_loader)
  File "c:\user

[2017-03-28 00:46] adobeDan commented on #116
@raymond-ensemble Whoops!  Sorry!  I opened the wrong log! :)...

[2017-03-28 01:02] adobeDan commented on #116
OK, so there is indeed a UMAPI server problem, here, but I don't think there's a user-sync problem.  It looks like the server is generating an error while either executing or generating the response for the batch of actions 13 through 18.  Notice that, just above the error trace, we get the server response to action 12:
[code]
and then we get the POST of actions 13 through 18, with an error respon

[2017-03-28 01:03] #116 closed

[2017-03-28 01:05] adobeDan opened #118 "gracefully handle 500 errors on server requests"
Things happen sometimes that cause servers to go boom, and user-sync should not choke when that happens (as documented in #114 and #116).  Given that most of user-sync's actions are idempotent, probably it should try to retry a batch of actions when they fail, but at worst it should just log the failure and move on as if the operation succeeded.  Maybe we even need a setting for what should happen

[2017-03-28 01:07] raymond-ensemble commented on #117
It's not just from the custom codes. It doesn't seem to update when I sync from a user file.

**Steps**
1. Sync users from a user-file.csv with --update-user-info
2. In the user-file.csv, change the countries to something else
3. Sync users from a user-file.csv with --update-user-info again
4. Go to the dashboard and export the user list to verify

[2017-03-28 05:12] adobeDan commented on #117
Country change is not allowed after creation (either from the console or from the UMAPI or from bulk update) for either Federated or Enterprise ID at this time.  It's on the roadmap for later this year.

When you create a new user account from scratch (that is, first time a user with that email has ever existed), you can set the country code with custom attribute assignment.  But you have to be su

[2017-03-28 15:17] adobeDan commented on #95
Sorry, but I disagree strongly.  We already have compatibility problems with the official rebranding of the "Enterprise Dashboard" to "Admin Console".  See @NealMirchAdobe's comment from a week ago.  Pretending that didn't happen is not a solution.

[2017-03-28 15:42] jameslockman commented on #95
under the hood, Adobe Experience Manager is still CQ. We still refer customers to documentation on Macromedia and Omniture domains. While this would be brand compliant, I am not certain that we get tremendous benefit from the change. I do agree that if we do it, we should do a major version number, since there will be deep impact on the config files, though.

[2017-03-28 15:45] adobeDan commented on #95
@jameslockman There is no config file impact if we continue to accept `dashboard`.  I think that's the obvious thing to do, here: accept both and have the docs refer to console.

[2017-03-28 15:46] jameslockman commented on #95
Then let's continue to accept Dashboard and encourage new customers to use console.

[2017-03-28 16:32] bhunut-adobe commented on #108
sorry, I guess what I meant to say is optional Log retention feature to have it automatically archive or delete after a specified period of time.

[2017-03-28 17:49] raymond-ensemble commented on #117
I can create a brand new user (default country as CA) and change the country using custom country code. Say I take NZ010101 from an AD attribute and use the NZ as country.

[2017-03-28 19:27] adobeDan commented on #117
Perfect.  So this is as designed for the moment.  Thanks for the update.

[2017-03-28 19:27] #117 closed

[2017-03-28 20:15] adobeDan commented on #108
Yeah, I think we can just let people use cron jobs for that.  Thanks for the suggestion. -d.

[2017-03-28 20:15] #108 closed

[2017-03-28 21:52] adobeDan commented on #88
Looks like this is not needed after all.  The UMAPI client is already doing the batching and command execution and error reporting.  The extra layer of the `ActionManager` is doing useful error checking and generating readable action identifiers which make for better logging.  The extra layer of the `DashboardConnector` is needed to translate the user-sync options into acceptable UMAPI connection

[2017-03-28 21:52] #88 closed

[2017-03-28 22:09] adobeDan commented on #118
I'm also gracefully handling ClientErrors (where the umapi_client doesn't understand the server request).  In both cases I'm outputting all the error info as CRITICAL and continuing.

[2017-03-29 09:20] #8 closed

[2017-03-29 15:16] adobeDan commented on #118
This was closed in d76c1d5, but I fat-fingered the commit message so it didn't close automatically.

[2017-03-29 15:16] #118 closed

[2017-03-29 16:16] adobeDan commented on #95
OK, after a lot of conversation, we have decided to do a complete overhaul of the existing names and usage of many configuration settings and command-line arguments.  There are many reasons for this, including but not limited to (in no particular order):
* the level of flexibility/complexity built into the current naming/usage conventions is both unnecessary and impossible to document properly; so

[2017-03-29 16:41] adorton-adobe commented on #95
It might be premature to ask this, but is there a plan to support 1.X for a period of time in parallel to 2.0?  By support, I'm primarily thinking about bug fixes, updates to deal with API changes, etc.

[2017-03-29 21:58] StitchFurbix opened #120 "Can't execute user-sync.pex in Win10"
Hi gang,

I'm sorry but I can figure out why the pex file keeps failing to run. I've tried getting different versions of python and installing dependencies individually.

Here's the error I keep getting from my various attempts:

H:\adobe\user-sync>py -2 user-sync.pex
Failed to execute PEX file, missing compatible dependencies for:
pyyaml
cryptography
pycrypto
cffi
umapi-client
psutil
user-sync
py

[2017-03-29 22:03] phil-levy commented on #120
Looks like you are running on Windows.  First, try the windows pathname length limit workaround.  It is in the documentation but to save time here is the relevant part:

In Windows only:

Before running the user-sync.pex executable in Windows, you might need to work around a Windows-only Python execution issue:

The Windows operating system enforces a file path length limit of 260 characters. When

[2017-03-29 22:13] adorton-adobe commented on #120
Could also be a 32/64bit issue.  Make sure you run w/ the 64bit version of the windows Python interpreter.

[2017-03-29 23:59] adobeDan commented on #95
Proposed new naming/usage conventions are in this comment.  Only changes are documented; anything not mentioned here stays the same as it is today.

## General nomenclature changes

* Wherever we used the word "dashboard" as an adjective describing something on the Adobe side we will now use the term "Adobe".  We will continue to use "directory" as an adjective describing something on the customer

[2017-03-30 00:05] adobeDan commented on #95
@adorton-adobe I'm not sure what kind of support you are hoping for existing users to get for v1.x, given that we believe v2.0 can be used to do everything that v1.x is being used to do, but here goes:

* We will certainly provide 1.x users with support for updating their configuration files and invocation scripts.
* If a 1.x user is doing something that we agree cannot be done with 2.x, then we w

[2017-03-30 00:55] phil-levy commented on #95
Yes, and mostly the support for 1.x is "if you are having a problem with 1.x, move to 2.0".  I don't see us making additional releases on 1.x given how few users are on it.

[2017-03-30 01:04] phil-levy commented on #95
@adobeDan this looks very good to me and covers all of the items we have discussed.  Is accessor_config_filename_format and the notion that there is a required convention for the additional source of entitlements gone?  This is a config item that would be removed.

[2017-03-30 01:18] adobeDan commented on #120
@StitchFurbix The dependencies you list as missing are all the ones in the build that are compiled for a specific processor platform (in python terms, the cp27-cp27m-win_amd64 platform, meaning C Python with math support on a windows platform using the amd64 processor architecture).  Typically, the reason they are shown as missing are that you are running a Python built for a different processor p

[2017-03-30 01:20] adobeDan commented on #95
@phil-levy Yes, that's one of the (many) options that provide default filenames that are searched for.  I tried to cover them all in that one remark about "There are no more default values..." but I will amplify that to make it completely clear.

[2017-03-30 01:22] phil-levy commented on #95
If you can list the items removed that would be helpful to make sure we take them out of the documentation.

[2017-03-30 18:19] StitchFurbix commented on #120
I fixed the issue with the execution as you all suggested.

Something must have gone wrong with the install the first time, once I uninstalled and installed 2.7.13 all is well.

Now I just have to get this all configured right lol

Thank you all for your help

[2017-03-30 18:19] #120 closed

[2017-03-30 21:53] adobeDan commented on #95
I am preparing a sample configuration file that has all the allowed settings in it, so we can stare at them.  Out of that work, Phil and I are settling on "adobe_group" as the conjoined term for "product configuration and/or user_group".  This has led to a very small update to the naming conventions, documented above.

[2017-03-30 22:29] adobeDan commented on #95
To support using User Sync incrementally, we are adding `--adobe-only-user-action exclude`, which excludes all unmatched users from any updates (same effect as setting the configuration option `max_adobe_only_users: 0`, but it only applies to the current run.

[2017-03-30 23:25] adobeDan commented on #95
To simplify the command line and the documentation, we are removing the unnecessary `--source-filter` command-line argument.

[2017-03-31 00:13] adobeDan opened #121 "The --user-filter regex should match the entire email value, not a substring"
The intended behavior of the --user-filter argument is only to select users that are entirely matched by the argument regex, not users any part of which matches.  So the regex argument should be anchored with '\A' at the front edge and '\Z' at the back edge.

[2017-03-31 00:34] adobeDan commented on #95
I've finished the rewrite of the main sample `1 user-sync-config.yml` file, and am starting on the code changes to implement this issue.  I've attached the [sample file here](https://github.com/adobe-apiplatform/user-sync.py/files/884159/user-sync-config.yml.txt) for review.

[2017-03-31 06:00] adobeDan commented on #95
I've finished the rewrite of the sample `3 connector-ldap.yml` and `4 connector-csv.yml` files.  I've attached them here for review, or see the issue95 branch at 58c1226 or later.

[2017-03-31 06:15] phil-levy commented on #95
Are you changing the name of adobe-user-config.yml?  I thought we had agreed that would be the name.

[2017-03-31 14:18] Luci2015 opened #122 "too many unused results in debug"
I have an AD set up with 2 users inside a given group: G1
I have an AC group with 3 users inside ( same name as AD for ease of usage), but these are not same ones as in AD + some 600 others that are not in G1 group.
I am running 1.2rc2 and command line: **user-sync --users group G1 --process-groups**
Result: there are 600 lines of output of form:
**2017-03-31 03:47:18 4068 INFO processor - Adobe u

[2017-03-31 21:10] adobeDan opened #123 "recognize v1.x config files and stop gracefully"
One thing we need v2 of User Sync to do is to recognize when it has been invoked on a v1.x set of configuration files.  If that happens, we should stop with an error message that explains what has happened and guides the user to the documentation (which should have a section that helps them upgrade).

We might want to consider putting the User Sync major version as an entry in the configuration fi

[2017-03-31 23:06] adobeDan commented on #95
Yes,`adobe-users-config.yml` changes to `umapi-config.yml` to match all other connectors.  Plus, as per our discussion, the `extensions` parameter is changed to `extension` (singular) and moves into the `directory_users` section and now names the file in which the extension is found.  All the extension settings move to that file, except for `context` which is dropped.

[2017-04-01 08:05] adobeDan commented on #95
@phil-levy I get why we have the sub-config files be interpreted relative to the main config file, but I don't get why we do that with the `log_file_directory` setting.  Shouldn't that be relative to the process working directory, the way that command-line arguments are?  It seems to me that the common case is that a user will want his logs and inputs output together, and all his config files toge

[2017-04-01 16:29] phil-levy commented on #95
The reasoning is that the user may be running several sync jobs with several config files.  They can invoke them from the same working directory and point the tool using --config-filename to the config file for each job (which are in different folders).  That effectively allows you to locate the nexus of files for each job together and you don't have to edit the config file to move the logs.  This

[2017-04-02 05:32] adobeDan commented on #95
Ah, right, makes perfect sense.  Thanks for the explanation!

[2017-04-02 05:46] adobeDan commented on #95
@phil-levy @bhunut-adobe @adorton-adobe @jameslockman @ianmak @ensembledeanw @chesterl86 OK this is a long status report with an IMPORTANT REQUEST at the bottom.  Even if you skip the report please read the important request!

* As of 6am this morning I got what I believe are all the new arguments and configuration syntax working.  I can now run all of my live issue tests (once I convert their con

[2017-04-02 18:27] adobeDan opened #124 "reconsider logging level on many messages"
There are only a few logging levels: debug, info, warning, error, critical.  We are putting out a *lot* of information at the info level, and only a tiny bit more at debug.  I am thinking that a lot of our info-level messaging (such as each specific user we match, and maybe even the actions we are generating) should go down to the debug level, with just summaries provided at info.  That way, the i

[2017-04-03 05:51] #95 closed

[2017-04-03 05:51] #121 closed

[2017-04-03 05:51] #123 closed

[2017-04-03 20:40] phil-levy opened #128 ".tgz unknown suffix on windows"
.tar.gz works fine, but .tgz will require users to rename first.  At least for 7zip.
This is in 2.0 alpha build 1

[2017-04-03 21:00] adobeDan commented on #128
Fixed in the a1 upload artifacts.  Let's leave this open to remember to get it right in the rc1 build.

[2017-04-03 21:03] adobeDan opened #129 "don't read entire directory on --users mapped and --users group "...""
When a sync job is running on a subset of users in the directory, it may be a lot faster to just fetch the target users and not both reading the entire directory.  In fact, it's almost guaranteed to be faster, even if we have to do multiple queries (one for each group) and there's a lot of overlap.

So how about we only fetch the users we need in these cases?

[2017-04-03 21:04] adobeDan commented on #122
I have created new issues #124 and #129 for the two separable issues reported here.  Closing this as a duplicate.  Thanks for the report, @Luci2015, we will get to these as soon as we can.

[2017-04-03 21:04] #122 closed

[2017-04-03 21:25] ianmak commented on #128
ah sorry about that, will remember for next RC

[2017-04-03 22:07] phil-levy opened #131 "Empty adobe_groups entry flagged as error (appears in example file)"
- directory_group: "Finance"
      adobe_groups:
        # the finance group doesn't use any Adobe products

results in error:
2017-04-03 15:04:49 21744 CRITICAL main - Value not found for key: adobe_groups in: <user-sync-config.yml>.directory_users.groups.[1]

This is directly from the example config file.  The example config file implies this is legal.

Also, the error message isn't great.  Givi

[2017-04-03 22:09] phil-levy opened #132 "exclude_adobe_groups flagged as error"
2017-04-03 15:09:10 5048 ERROR config - Found unused keys: ['exclude_adobe_groups'] in: <user-sync-config.yml>.adobe_users
2017-04-03 15:09:10 5048 CRITICAL main - Detected unused keys that are not ignorable.

This is using the example config file which leaves the list content of this key empty.  If you put something in, it is happy.

[2017-04-03 22:16] phil-levy opened #133 "Request better error message for LDAP connect failure"
2017-04-03 15:13:03 14784 INFO connector.ldap - Connecting to: _LDAP host URL goes here_.  e.g. ldap://ldap.example.com using username: LDAP user goes here
2017-04-03 15:13:03 14784 ERROR main - Unhandled exception
Traceback (most recent call last):
  File "c:\users\plevy.adobenet\.pex\install\user_sync-2.0a1-py2-none-any.whl.0cd7e265e62cbd246d7d4298f9124133982abbb2\user_sync-2.0a1-py2-none-any.wh

[2017-04-03 22:30] raymond-ensemble opened #134 "--adobe-only-user-action exclude is not excluding them!"
Users cce0, cce1, cce2, cce3....cce7 are all in the group CCE AD Group 1.
Users cce2 and cce3 are in the accessor group CCE Accessor Group 1.

**Steps**
1. Sync users from AD  with the group filter. **python user-sync.pex --users group "CCE AD Group 1" --process-groups**
2. Sync users for the accessor group with the group filter. **python user-sync.pex --users group "CCE Accessor Group 1" --proces

[2017-04-03 22:45] raymond-ensemble opened #135 "--users-filter is returning 0 users even though users exists in AD."
**Steps**
1. Step up users in AD. User cce1, cce2, cce3....cce10.
2. Run user sync with **python user-sync.pex --users all --user-filter "cce"**

**Results**
- It says "2017-04-03 15:44:30 8072 INFO processor - Total directory users after filtering: 0"

[user-filter log.txt](https://github.com/adobe-apiplatform/user-sync.py/files/891642/user-filter.log.txt)

[2017-04-03 22:48] phil-levy commented on #135
Pattern has to match the entire user name.  This was a bug fix in 2.0.  It was always spec'd for a full match.  So you would need "cce[1-9][0-9]?

[2017-04-03 22:56] raymond-ensemble commented on #135
I see. I got it to work when I include the email.
cce[0-9].*

[2017-04-03 22:57] #135 closed

[2017-04-03 23:23] adobeDan commented on #133
@ianmak, @ensembledeanw Can one of you please take care of this?  Looks like we need to catch LDAP connection failures and rethrow an appropriate assertion exception.

[2017-04-03 23:28] adobeDan commented on #134
This is as-designed behavior.  Remember: for each user sync job, we look at ALL Adobe users, but we only match them against the input users of the job.  Since all the Adobe users except cce2 and cce3 did not match against the input users of the second job, and since you told the second job to process-groups for *all* Adobe users, all the managed groups were removed from all the Adobe users except

[2017-04-03 23:31] adobeDan commented on #134
@raymond-ensemble Actually, it would be a great test if you would include --adobe-only-user-action exclude and make sure the other users are left untouched!!

[2017-04-03 23:33] adobeDan commented on #128
No worries, this was really my fault, as I set the pattern with that first windows upload to a1. :)

[2017-04-03 23:34] ianmak commented on #133
okay I'll take this on

[2017-04-03 23:35] #124 closed

[2017-04-03 23:36] raymond-ensemble commented on #134
I just ran:
**python user-sync.pex --users group "CCE Accessor Group 1" --process-groups --adobe-only-user-action exclude**

The other users still have their products removed.

[log.txt](https://github.com/adobe-apiplatform/user-sync.py/files/891725/log.txt)

[2017-04-03 23:39] adobeDan commented on #134
OK, thanks for the test!  Changing the name of the bug, and reopening it!

[2017-04-04 04:39] #134 closed

[2017-04-04 05:42] #133 closed

[2017-04-04 15:25] adobeDan commented on #110
I fixed this in pull #139, although the commit says #4.  This should be closed when that PR is merged, because the docs have also been fixed up.

[2017-04-04 17:12] adobeDan commented on #84
Haven't heard back, so I'm closing the issue.  @Luci2015 if you get other news feel free to reopen.

[2017-04-04 17:12] #84 closed

[2017-04-04 17:44] #110 closed

[2017-04-04 17:44] #131 closed

[2017-04-04 17:44] #132 closed

[2017-04-04 20:27] adobeDan commented on #128
closing this since we got it right for the rc1 build.

[2017-04-04 20:27] #128 closed

[2017-04-04 20:59] phil-levy opened #141 "Misleading error message for unrecognized column name in user list"
Warning cites connector.csv.  The file with the error is users-list.csv

2017-04-04 13:48:05 26392 INFO main - user-sync.pex --users file users-list.csv --process-groups -t
2017-04-04 13:48:05 26392 INFO main - -------------------------------------
22017-04-04 13:48:06 26392 INFO processor - ---------- Start Load from Directory -----------------------
2017-04-04 13:48:06 26392 WARNING connector.cs

[2017-04-04 21:31] adobeDan commented on #141
The CSV connector is the module reporting the warning.  I don't think it's a problem saying this comes from the CSV connector, and I don't think you're suggesting that either.  The problem is that we are not mentioning the name of the CSV file that we are loading that has the unrecognized column name.  That's easy to fix.

[2017-04-04 21:47] phil-levy commented on #141
The module name is very misleading.  There isn't any file named connector.csv which the message appears to be reporting against.  The customer will not know that is a module name.  The other names like "main" and "processor" and "umapi" are more generic and wouldn't be confused with the file containing the error.

[2017-04-04 21:48] phil-levy opened #142 "Excluded users are not are listed in the log, even at debug level, unless --process-groups is present"
Well, they aren't.

Upon more testing, it appears that the messages are not output unless --process-groups is also specified.  Including --adobe-only-users-action does not seem to trigger the messages.

At a minimum, the messages should be triggered by --process-groups or --adobe-only-users-action

[2017-04-04 21:56] adobeDan commented on #141
So there are two issues here:

1. The connector name is misleading, because it sort of looks like a filename.
2. The filename is missing from the error message.

I can fix both, but do we care about the first if I fix the second? :)

[2017-04-04 21:58] phil-levy commented on #141
Certainly less so.

[2017-04-04 22:11] adobeDan commented on #141
OK, I fixed both :).  csv and ldap now follow the same path as umapi: they just have the connector type without the work "connector.".  Also the filename is printed in the error message.  Also I found another place where we are not properly catching errors: on UMAPI connection errors; we still had a backtrace.  So I fixed that too.

[2017-04-04 22:24] adobeDan commented on #142
I tried to make it so that excluded users are not logged unless there is some updated of an Adobe user happening that the exclusion might affect.  So if you say --update-users or --process-groups, for example, we log the excluded ones.  But I apparently missed the obvious processing, which is their deletion.  Oops.  I'll fix that.

[2017-04-04 22:29] phil-levy opened #144 "Something confusing happens when users removed and added"
Multiple confusions.  Need a better scenario.

2017-04-04 15:21:08 11444 INFO config - Using main config file: user-sync-config.yml
2017-04-04 15:21:08 11444 INFO main - ========== Start Run (User Sync version: 2.0rc1) ===========
2017-04-04 15:21:08 11444 INFO main - ------- Invocation parameters -------
2017-04-04 15:21:08 11444 INFO main - user-sync.pex --users file users-list.csv --process-gro

[2017-04-04 22:38] adobeDan commented on #142
Hmmmm, if the --adobe-only-user-action is exclude, should we log the user as being Adobe-only or being excluded? :)  I say Adobe-only.  What say you?

[2017-04-04 22:52] adobeDan commented on #142
Never mind, I found a solution.  He's logged as both.

[2017-04-04 23:16] phil-levy commented on #144
I have not been able to reproduce this.

[2017-04-04 23:19] phil-levy opened #145 "Documentation Item: removing a mapped group"
There is potential confusion when removing a mapped group.  Say a directory group mapped to the Adobe group Acrobat.  You think, "I no longer want to map this group to Acrobat" so you take out the entry.  The result is that all of the users are left in the Acrobat group because Acrobat is no longer a mapped group so user sync leaves it alone.  It doesn't result in removing all the users from Acrob

[2017-04-04 23:39] adobeDan commented on #142
The more I run this, the more that I see the excluded users should always be logged, even if the command might not have updated them.  Especially because the summary says "Number of Adobe users excluded from updates" and that is never 0.

[2017-04-04 23:58] adobeDan commented on #142
So this turned out to be a lot trickier than it looked.  But it's now fixed.

[2017-04-05 00:04] #141 closed

[2017-04-05 00:04] #142 closed

[2017-04-05 05:44] adobeDan commented on #144
@phil-levy Wow, that is an interesting one.  Is it possible some other process was in the middle of removing those users at the same time your job was running, so that you fetched them right before they were deleted but when you went to update them they were gone?

Are those three users still in the org?  Are their accounts still in the domain?

[2017-04-05 05:54] adobeDan commented on #145
Yes, interesting.  Rather than just removing the Acrobat group from the map, you would need to add a new entry to the map with a directory group that no one is in (e.g., "null") and have Acrobat as its mapped Adobe group.  Then when you took Acrobat off the first group, it would stay a mapped group.

From a documentation perspective, you might want to recommend always have one directory group whos

[2017-04-06 12:25] Gor3t3x opened #148 "name / first name fetched from AD, but not present on dashboard"
Hi,

When i run the script based on an AD group, i can see in the logs that the name, surname, userprincipalname is fetched, but when looking on the dashboard, some fields are empty (name and / or surname)

(Version 1.1.1)

exemple:
2017-04-06 14:16:51 5492 DEBUG umapi_client - Ran multi-user query: [] {} (page 1: 197 found)
2017-04-06 14:16:51 5492 INFO processor - Adding user with user key: xxx@

[2017-04-06 14:41] adobeDan commented on #148
Thanks very much for this report!  We are very close to releasing 2.0 (2.0rc1 is posted right now), so we would like to make sure we find any bugs before we do that release.

There are two known configuration issues which can cause the behavior you are seeing.  I would like to explore each of them by asking you to run one more test for each.

First, I notice that your run did not use the `--update

[2017-04-06 15:20] Gor3t3x commented on #148
Damn!

The first run did update the infos like you said. (python user-sync.pex --users group ADB_CREATIVECLOUD --process-groups --update-user-info)

the second run after deleting users in the DB with only --users group ADB_CREATIVECLOUD and --process-groups worked and all fields are updated.

In production if i want the users on dashboard and my AD group to be the same, i would use the command :
p

[2017-04-07 01:29] adobeDan commented on #148
Sorry for the late reply; I was in meetings all day 👎.  I'm glad this was resolved for you.

So the 1.1.1 release is a little tricky in the way `--remove-nonexistent-users` works with `--users group` (and `--users mapped`), because it will think that *every* Adobe-side user that doesn't match a user in your ADB_CREATIVECLOUD group should be removed from the organization on the Adobe side.  This in

[2017-04-07 01:29] #148 closed

[2017-04-07 07:10] adobeDan commented on #144
I'm going to close this, since we can't repro.

[2017-04-07 07:10] #144 closed

[2017-04-07 07:13] adobeDan opened #149 "umapi column is confusing in adobe-only-user-list file"
When the adobe-only-user-list file is generated for a run that only has adobe-only users in one umapi connection (organization), there is no need for the umapi column in the file.  And for most users, who never use more than one umapi connection, its presence is very confusing.  It would be good to omit it in such cases.

[2017-04-07 07:29] adobeDan opened #150 "count of matching users with no changes is wrong"
If you run a job with --process-groups, but all the group changes are in secondary umapi orgs, the users with group changes are not reported.

[2017-04-07 07:32] adobeDan opened #151 "--adobe-only-user-action write-file reports group processing when there isn't any"
If you run a job _without_ --process-groups but with --adobe-only-user-action write-file, it reports that groups were processed on the adobe-only users.

[2017-04-07 18:20] adobeDan opened #153 "Action Summary should indicate when test-mode was in use."
The Action Summary doesn't distinguish whether the actions performed were in test-mode or not.  It should.

[2017-04-07 18:22] adobeDan commented on #151
While we're on this topic, there is an extra colon in the "groups processed::" message.

[2017-04-07 20:35] #149 closed

[2017-04-07 20:35] #150 closed

[2017-04-07 20:35] #151 closed

[2017-04-07 20:35] #153 closed

[2017-04-08 01:01] adobeDan opened #159 "Allow secure credentials to be retrieved from environment, not disk"
Customer feedback has made it clear that we need to support some more secure options (probably a number of different platform-specific options) for managing credentials.  Since we already have the credential manager hook class for doing this, we should document it clearly and eventually provide some standard implementations that we release as part of the build.

[2017-04-09 22:32] adobeDan commented on #159
On AWS, all EC2 instance types support fetching credential files from S3 using IAM roles as a form of secure access.

[2017-04-10 17:46] bhunut-adobe commented on #159
@adobeDan I look at Credential Manager class and there isn't much in there. Is it already implemented or it just a placeholder? Documentation on Credential Hook would be awesome. 👍

[2017-04-10 17:48] adobeDan commented on #159
@bhunut-adobe It's just a placeholder, although it's compiled.  The proposal is to document it and provide, *perhaps*, one implementation (say via KeyRing) for this release.  Then to provide more implementations in the future.

[2017-04-10 18:59] adobeDan commented on #159
After discussing it this morning, @phil-levy and I have decided not to try and do anything without some more input from customers about what's needed and what might work.  In particular, we don't think the credential manager as it stands is even worth documenting; probably we want to replace it with something much clearer and cleaner.  So I am deferring this out of the 2.0 release, which we want t

[2017-04-11 21:14] bhunut-adobe commented on #159
@adobeDan They want to ensure that the password is not in cleartext in the config file. ACL on the file is not secure enough. If the password lives in the config file, it should at least be encrypted and can't be decrypted outside of that machine. The customer also recommending using azure vault credential but this won't be generic enough since most people will be running UST on-prem not azure.

W

[2017-04-12 06:03] adobeDan commented on #159
@bhunut-adobe Thanks for the requirements update.  That's from one customer, I gather.  I'll look at some possible approaches and see if @phil-levy and I can agree on something.  We should be able to estimate how long this will take by the end of this week.

[2017-04-12 13:51] jameslockman commented on #159
We have other customers. The clear text credential throws a yellow flag on almost every engagement, but conversations with Infosec typically move the engagement along. Every customer wants a more "enterprise" approach to storing this credential, and providing some interface to external encrypted credentials is welcome.

[2017-04-13 14:51] adobeDan commented on #159
So here's my proposal:

- We will allow private keys to be specified directly in the config file as opposed to requiring an external file.
- We will integrate keylib into User Sync for reading specific config file values from the platform keychain.
- We will allow the configuration to specify piping configuration files through an external process.

This will provide for both a no-code-required pat

[2017-04-13 16:22] jameslockman commented on #159
I like this approach. I also like Azure and AWS, as it will apply to some existing Azure customers.

[2017-04-20 15:22] bhunut-adobe commented on #159
@adobeDan

I was able to get a working POC for windows credential manager using the existing credential manager hook.
https://github.com/bhunut-adobe/user-sync.py/tree/v2---WindowsCred

Do you have an estimated timeline for this implementation? is this something that will happen in the next release? We have a meeting with the customer next week and wanted to see if it worth an effort to go with my

[2017-04-20 18:31] adorton-adobe opened #166 "Sync w/ "--adobe-only-user-action write-file" still removes groups for Adobe-only users"
The documentation states the following about the `--adobe-only-user-action write-file` command line option (bolding mine):

What does the doc mean by "no other account action is taken"?  When I run sync w/ that option, the sync will not only generate the file I need, but it will also remove mapped groups for Adobe-only users.  Should it be doing the latter part, or is that behavior a bug?  If it's

[2017-04-20 18:34] adobeDan commented on #166
That's a doc bug; I'm assigning it to Phil.  The exact definition of `--adobe-only-user-action write-file` is that it is identical to the `preserve` action but *additionally* writes the users to a file.  The `preserve` activity is governed by the `max_adobe_only_users` limit, but the writing to the file always occurs regardless of that limit.

[2017-04-20 18:39] adobeDan commented on #159
Yes, go with your fork build, because based on detailed examination of implementation options I'm going to update my proposal to involve eliminating the credential manager and always rely on an external process to obtain secure credentials.  And I don't want to do that release until we have some good examples of external processes that we release at the same time.

Can you please make your credent

[2017-04-20 18:48] bhunut-adobe commented on #159
@adobeDan If you can create windows_credential_manager branch in this repo and I will submit the pull request from my fork.

[2017-04-20 19:05] adorton-adobe commented on #166
I see, thanks for the explanation and quick attention - I'd like to be able to support the following use case:

1. Generate list of Adobe-only users but do **not** remove any of their groups (yet).  We still want to add/update group information for non-Adobe-only users.
2. Convert export list to user input list (using an external awk or python script) with one user group assigned to all users (a s

[2017-04-20 19:43] phil-levy commented on #166
Item 1 can be done via
user-sync --users whatever --adobe-only-user-action file to_be_moved.csv

Note omission of --process-groups in this run so that group membership is not updated.

Item 2 could be via a script operating on the file.

Item 3 would be via
user-sync --users file edited_version_of_to_be_removed.csv --process-groups --adobe-only-user-action exclude

This works by using the list of

[2017-04-20 20:06] adorton-adobe commented on #166
See my note about needing to still be able to handle group assignment for users that aren't identified as Adobe-only.  Including `--process-groups` will do group assignment, but also remove entitlements for Adobe-only users by default (which it should be doing).  Omitting that option won't remove entitlements, but also won't do any kind of group updates.

I'm wondering if the tool would benefit fr

[2017-04-20 20:19] phil-levy commented on #166
It sounds like your 3 items is actually 4.  The fourth, process normal updates for users who are in the directory would be done by

user-sync --users whatever --process-groups --adobe-only-user-action exclude

which will do the group updating and new user creation.  Then running steps 1-3 above would handle the users to be de-provisioned.

Of course, I'm just answering your questions.  The questio

[2017-04-21 12:30] Gor3t3x opened #167 "--update-user-info and special characters"
Hi,

Last bug i found is using --update-user-info with specials characters like "ç" "é" "è" has a strange behavior.

those characters are pretty common in countries where we speak french...

2017-04-21 14:19:54 2712 INFO processor - Updating info for user key: federatedID,xxx@xxx.xx, changes: {'firstname': 'Andr\xc3\xa9'}
2017-04-21 14:19:54 2712 INFO processor - Updating info for user key: federa

[2017-04-22 01:04] ianmak commented on #167
This appears to be a limitation of python printing/logging... when you log a dictionary value, sub values containing symbols or non-english characters don't seem to show up properly. I haven't found a quick solution to this, I'll try digging into this a bit more next week.

The Unicode warning you're seeing is sort of a separate problem... I think it's because the directory loads string values, wh

[2017-04-24 22:45] bhunut-adobe commented on #159
@adobeDan Done. I forked Adobe v2 repo and created a new branch based on it. https://github.com/bhunut-adobe/user-sync.py/commit/27eb75e8dcd3f02eb89c16e3ed5d872f5a88b473

Let me know if you want me to submit a PR into Adobe or keep it separately.

[2017-04-27 23:44] #145 closed

[2017-04-27 23:44] #166 closed

[2017-05-01 23:34] bhunut-adobe commented on #159
@adobeDan - Looking to test the latest change. Can you please provide an example of UMAPI config to use credential store?

[2017-05-02 01:47] adobeDan opened #173 "excluded user counts are wrong if adobe-only-user-action is exclude"
While testing my fix for #159, I noticed that adobe-only users are not added to the excluded user count even if the `adobe-only-user-action` setting is `exclude`.  So I'm fixing that too.

[2017-05-02 04:27] adobeDan commented on #159
@bhunut-adobe I sent you the files separately.  If you build the latest v2 it will have this change.

[2017-05-03 04:41] adobeDan opened #175 "--users value doesn't default to `all` but to `None`"
Found while testing the fix of #159: If you run without a `--users` argument, no users are read rather than all ldap users being read.

[2017-05-03 04:59] adobeDan commented on #175
Wow.  This has been in there *forever*.  Our testing is not exactly exhaustive.

[2017-05-03 20:50] #175 closed

[2017-05-04 07:45] adobeDan commented on #167
The problem here is that we are not explicitly converting the strings fetched from the directory to unicode via utf-8 encoding, so Python is using the default (ascii) encoding assumed for 2.7 strings.  The strings that come back from the umapi-client (and the UMAPI server) are always unicode strings, which is why Python is attempting to convert the directory strings to unicode when doing the compa

[2017-05-04 22:33] adobeDan commented on #173
So it turns out I didn't fix this completely, because I didn't realize that there was another part of the code that was assuming that user exclusion only happened in one place (and thus didn't know about excluded adobe-only users).  So now I will complete the fix as part of fixing #167.

[2017-05-04 23:23] adobeDan commented on #167
Not such a simple fix after all: it revealed that the UMAPI client couldn't handle unicode strings: adobe-apiplatform/umapi-client.py#41

[2017-05-04 23:29] adobeDan commented on #159
So this is not quite fixed yet, for a silly reason: I added a check for unused parameters in the server section of the UMAPI config file, and that check blows up if you just use the default configuration completely.  So I am fixing this issue as part of #167.

[2017-05-05 05:22] adobeDan commented on #167
Wow, did this ever turn out to be a rabbit hole!  Having allowed non-ascii strings everywhere, I got to find out where they are and are not allowed:

Yes, allowed:
* in people's first and last names
* in adobe group names (both PCs and user groups)

No, not allowed:
* in email addresses
* in federated usernames (since they are the local part of email addresses)

Since non-ascii chars are allowed i

[2017-05-05 19:56] #159 closed

[2017-05-05 19:56] #173 closed

[2017-05-05 23:23] raymond-ensemble opened #180 "Unrecognized column names warning when trying to use --config-file-encoding utf8"
When I tried to sync from a user-file.csv with specials characters like "ç" "é" "è" and using --config-file-encoding utf8, I would get this:

**WARNING csv - In file 'users-file.csv': unrecognized column names: ['\xef\xbb\xbffirstname']**

Somehow, it's adding "\xef\xbb\xbf" in front of the firstname.

[2017-05-05.txt](https://github.com/adobe-apiplatform/user-sync.py/files/980525/2017-05-05.txt)

[2017-05-06 06:15] adobeDan commented on #180
Hey @raymond-ensemble, thanks so much for testing this right away!

I'm guessing that `firstname` is the header for your first column.  Those three characters in front (`'\xef\xbb\xbf'`) are the UTF-8 encoding of what's called the _BOM_ or _byte-order mark_: the actual hex sequence is `0xFEFF`.  The BOM is a required element in UTF-16 and DBCS encoded files, used to indicate whether the file syste

[2017-05-08 17:46] raymond-ensemble commented on #180
It's working after I changed the encoding to UTF-8 without BOM. However, I noticed that in the logs, it says:

**INFO processor - Updating info for user key: enterpriseID,ccewin1@ensemble.ca, changes: {'firstname': u'!CCE_win_\xe7\xe9\xe8'}**

The firstname for that person is correctly displayed in the admin console though. The first name shows **!CCE_win_çéè**.

[2017-05-08 18:31] adobeDan commented on #180
What's being displayed in the log is the utf-16 version, which is the format Python uses internally for Unicode strings.  This looks like it's performing as designed.

[2017-05-08 18:31] #180 closed

[2017-05-10 14:15] lesavage opened #181 "Add requestID or Tech Account GUID to logs"
Can we add the requestID or Tech Account GUID to the user-sync logs? This would help the UMAPI server team with troubleshooting any issues reported by clients.

[2017-05-10 15:09] bhunut-adobe opened #182 "Directory groups can apply to indirect as well as direct members"
When following this [guide](https://github.com/adobe-apiplatform/user-sync.py/blob/613cd248720e7501d78c3834367cc9360c833681/docs/user-manual/index.md#working-with-nested-directory-groups-in-active-directory),
UST returned the following error
Multiple LDAP groups found for: AdobeCCETest-All-App

Current Group Structure
[code]

Log file:
[2017-05-10.txt](https://github.com/adobe-apiplatform/user-syn

[2017-05-10 20:20] phil-levy commented on #182
Chester, can your team take a look at this?  It may be that the code doesn't quite handle this nested case properly.

[2017-05-10 21:02] chesterl86 commented on #182
Sure can.

[2017-05-11 00:16] adobeDan opened #189 "UserSync attempts to remove users from nested product configurations"
There has been some sort of behavior change on the server side, although it appears that it might actually be that the prior behavior was incorrect as per spec and now it is correct.  In any event, the result is that if User Sync maps some users to a user group and other users to a product configuration containing that user group, it then gets server data that shows the users in the user group are

[2017-05-11 00:20] adobeDan commented on #189
It turns out that, although the server API allows controlling whether or not indirect membership is returned, the UMAPI was not exposing it.  So the fix for this bug is to pick up the latest UMAPI release, which provides this control and defaults to direct membership only.

[2017-05-11 00:44] #189 closed

[2017-05-11 00:49] adobeDan commented on #181
@lesavage The tech account GUID is already in the debug log, look for a line containing "UMAPI initialized with options" and look for the value of the `tech_acct` field.

[2017-05-11 11:47] bhunut-adobe opened #191 "Mapping directory group to Adobe admin roles"
A customer is looking to manage administrators in the admin console via UST.

This will give enterprise customer a more automated way to add and remove administrators from the console.

[2017-05-11 12:07] #181 closed

[2017-05-12 16:05] bajwa-adobe opened #194 "Users don't get removed from old product configuration (adobe_group or PC)"
The users don't get removed from old product configuration (PC), when we update them on new product configuration.

I had following mappings setup

    - directory_group: "TestGroup1"
      adobe_groups:
        - "Default Acrobat Pro DC configuration"

Where "TestGroup1", has two users

Now I changed adobe_groups from "Default Acrobat Pro DC configuration" to "Default Photoshop CC - 5 GB configur

[2017-05-12 16:23] phil-levy commented on #194
This is actually expected behavior.  When the group Default Acrobat Pro DC configuration gets removed from the mapping, it basically says "this group is no longer managed by user sync" so the users don't get removed.  The group Default Acrobat Pro DC configuration becomes like any other group that user sync is not aware of: it is left alone.

This is covered in the manual with a suggestion about h

[2017-05-16 15:04] #194 closed

[2017-05-17 15:26] Stancicle opened #196 "Getting error 1520 CRITICAL main - ldap configuration: must contain setting for "password" or "secure_password_key""
Hello,

I'm getting the error:
1520 CRITICAL main - ldap configuration: must contain setting for "password" or "secure_password_key"

I have commented out "password" and uncommented "secure_password_key" in conector-ldap.yml. The problem still happens if I user "password" and input the plaintext password.

Running on Windows 7 64 bit, v2.1 Enhancement Release: unicode and security, and the latest

[2017-05-17 15:36] bhunut-adobe commented on #196
Hello,
you want to make sure the Internet or network address value equal to the one in the connector-ldap.yml configuration file.

For example:
connector-ldap.yml
`secure_password_key: ldap_password`

Windows Vault:
`Internet or network address: ldap_password`

[2017-05-17 15:44] Stancicle commented on #196
Hi Bhunut-adobe,

Same error still occurring.

![image](https://cloud.githubusercontent.com/assets/28760235/26162909/473f04c6-3ae5-11e7-9b3f-f4ed6ed8b6ad.png)

connector-ldap.yml
![image](https://cloud.githubusercontent.com/assets/28760235/26162941/5e48ed26-3ae5-11e7-8843-9308c6e55136.png)

[2017-05-17 16:02] bhunut-adobe commented on #196
is the username value in connector-ldap.yml is the same as the one in the windows credential vault?

[2017-05-17 16:04] Stancicle commented on #196
Yes, with the exact uppercase and lowercase.

[2017-05-17 17:09] bhunut-adobe commented on #196
Is it possible if you can run the sync tool with debug logging?

user-sync-config.yml
[code]

can you upload your connector-ldap.yml, user-sync-config.yml, and the log? Just make sure you remove any sensitive information.

[2017-05-17 17:18] Stancicle commented on #196
Here you go.
[adobe_user_sync_troubleshooting.zip](https://github.com/adobe-apiplatform/user-sync.py/files/1008561/adobe_user_sync_troubleshooting.zip)

[2017-05-17 18:09] bhunut-adobe commented on #196
@adobeDan @phil-levy Have you come across this issue? I wasn't able to replicate the issue. The configuration files look fine.

[2017-05-17 18:21] phil-levy commented on #196
I'm in the process of testing that now.  I've already run into problems putting certificate data into the windows credential store.  I haven't tried the LDAP stuff yet.  The file Mr. Stancicle sent looks okay to me also.

[2017-05-17 19:15] Stancicle commented on #196
Hi all,

False alarm. Seems like I was configuring the wrong copy of connector-ldap.yml. It is working now. Thank you.

[2017-05-17 19:19] phil-levy opened #197 "V2.1 RC fails to detect group membership properly - keeps adding to group on every run"
Adds to same groups on each run.  Same for user groups and PCs.  Enterprise Id.

[2017-05-17 19:20] phil-levy opened #198 "Can't figure out how to store private key in Windows Credential Store"
Doesn't seem to take multi-line value, or long string if I put on one line.

[2017-05-17 21:49] phil-levy commented on #196
Thanks.  Closing.

[2017-05-17 21:49] #196 closed

[2017-05-17 21:56] bhunut-adobe commented on #198
Phil,

I can't do it via GUI or command line. I got an error. The specified password has exceeded 512 bytes

I count of characters in my private.key and came up with 1612 characters.

This is the command I try it with.
Powershell V5+ Command
[code]

[2017-05-19 20:09] raymond-ensemble opened #199 "Credential management doesn't seem to work on Ubuntu or CentOS"
When I tried to run the user-sync with the credential management keyring, I get this error with the keyrings.alt.

When I check the keyrings.alt installation, it says requirement already satisfied.

Requirement already satisfied: keyrings.alt in /usr/lib/python2.7/site-packages
Requirement already satisfied: six in /usr/lib/python2.7/site-packages (from keyrings.alt)

I was just running a normal u

[2017-05-19 21:12] ianmak commented on #199
Just to clarify, normally we wouldn't run user-sync with keyrings.alt. We tried it just to see if it would satisfy the tool, but it still complained.

A bit more information:

I tried setting up VM's running desktop versions of centos and ubuntu to see if that would satisfy the keyrings requirement, but it always complains that no recommended backend was available.

I tried looking into this, and

[2017-05-19 21:16] ianmak commented on #199
I am also planning to arrange a kubuntu VM so I can try kwallet, but so far we've had no luck retrieving credentials on ubuntu and centos from within user-sync, except in the modified app scenario I noted previously.

[2017-05-23 11:34] AndyH010493 opened #201 "empty email attribute in LDAP causes exception"
Hello,

I am importing my users but am getting the below error. Would you be able to provide some insight on this please?

2017-05-23 12:31:05 31914 ERROR main - Unhandled exception
Traceback (most recent call last):
  File "/home/adobesync/.pex/install/user_sync-2.1-py2-none-any.whl.5b02240d49b48000b66132a75942ae8ff00ba845/user_sync-2.1-py2-none-any.whl/user_sync/app.py", line 345, in main
    be

[2017-05-23 14:39] adobeDan commented on #201
What's apparently happening here is that, when your directory is being read, there are `None` objects coming back for some of the users in the directory.  We have not seen this before, and I can't really investigate it without having more of the log to look at.  Can you upload an entire debug-level log for a run that has this error?

[2017-05-23 14:43] adobeDan commented on #199
@raymond-ensemble @ianmak All of the dbus-based secure storage solutions require an OS-installed dbus package that matches the Python package.  So, for example, it's not enough to install dbus-python, you have to install the OS-provided dbus package for the keyring type you are using (Gnome or whichever).  Can you make sure you have the appropriate system package installed and then see whether you

[2017-05-23 14:48] AndyH010493 commented on #201
Thank you for the information.

is there a flag for obtaining a debug-level log?

[2017-05-23 15:31] adobeDan commented on #201
In your main user-sync-config.yml file, in the logging section (typically at the bottom), specify `debug` as the value for the `file_log_level:` setting.

[2017-05-23 15:43] AndyH010493 commented on #201
I'm more than happy to share the log with you but there is information on the log, e.g. User Names / Email Addresses which i would like to keep confidential. Do you have an email address so i can securely send this log to you?

[2017-05-23 16:23] adobeDan commented on #198
The default CredentialManager module has a built-in length limit of 512 chars.  I've asked the developer whether this is an underlying technology limitation.

[2017-05-23 17:45] AndyH010493 commented on #201
I have sent you the log file via my company's file transfer service

[2017-05-23 18:09] adobeDan commented on #201
I got the log, will take a look later today.

[2017-05-23 22:13] bhunut-adobe opened #202 "TypeError: remove_from_groups() argument after ** must be a mapping, not str"
When using  --adobe-only-user-action remove-adobe-groups argument.

I get the following error

Traceback (most recent call last):
  File "c:\user-sync-tool-wc\.pex\install\user_sync-2.1-py2-none-any.whl.fa4c34d1dc170ed47d2293e859ef616253546b5a\user_sync-2.1-py2-none-any.whl\user_
sync\app.py", line 345, in main
    begin_work(config_loader)
  File "c:\user-sync-tool-wc\.pex\install\user_sync-2.1-p

[2017-05-24 17:16] ianmak commented on #199
ah I'll try to look into this a little more closely... though for some reason the keyring is able to read the secure credentials in the python command line, not sure why it fails from within user-sync...

[2017-05-24 23:20] ianmak commented on #199
hmm as far as I know it, the dbus package is installed in the system... if I enter `dpkg -l | grep keyring`, I see the packages `gnome-keyring` and `ubuntu-keyring` are installed.

If I add the secretstorage and dbus-python libraries to setup.py and requirements.txt and rebuild, the error disappears and the sync tool completes properly... any idea why it's behaving like this on ubuntu?

[2017-05-24 23:30] ianmak commented on #182
user-sync doesn't seem to be processing the results of the nested group filter properly at the moment. We are currently planning to refactor this feature to process groups properly, and may support nested groups using a different approach rather than through the AD nested group filter.

[2017-05-25 15:37] adobeDan commented on #199
Ah!  Yes, I do know why this is happening: pex refuses to use available system libraries when executing a package.  So, when you run python at top level, and have installed gnome-keyring and ubuntu-keyring, it finds them and uses them.  But, when you run User Sync, it can't find them because they are not in the pex package.  But when you update setup.py and requirements.txt and rebuild, they *are*

[2017-05-25 16:55] adobeDan commented on #199
@ianmak I have assigned this to you.  Also will you please investigate: I don't think we need any entries in requirements.txt that are also in setup.py, because the pex builder always runs the python setup tools which install all the right setup.py requirements.  I think we probably can let requirements.txt be empty except in the windows-specific versions where we go get the necessary platform-spe

[2017-05-25 20:53] ianmak commented on #199
sure thing thanks for the insight, I'll take care of this!

[2017-05-26 16:26] #202 closed

[2017-05-26 20:02] Stancicle opened #204 "How to fix failed: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661) error"
I have checked both the private and public key that I'm using and generated multiple times from a pfx file. I still keep getting this error. Any other things I could try to resolve this problem?

[2017-05-30 11:03] AndyH010493 commented on #201
Hello,

just wondering if there is any update on this?

Thanks
Andy

[2017-05-30 15:13] adobeDan commented on #201
So sorry!  I promise an update by end-of-day (Pacific Time) tomorrow!

[2017-05-30 15:19] AndyH010493 commented on #201
no worries and Thankyou

[2017-05-31 01:36] adobeDan commented on #197
@phil-levy can you upload a log of a recent run?

[2017-05-31 05:41] adobeDan commented on #201
OK, so I can't be sure about this but I think I may have found the issue.  It's looking to me like you have a user in your LDAP directory who has a defined email attribute but the value of that attribute is the empty string.  That is an edge case that we should check for and catch, and it would lead to exactly the error in your log: there is a created directory user whose "user key" is the `None`

[2017-05-31 13:04] AndyH010493 commented on #201
ok yes, it definitely appears to be the case. I ran a powershell script to pull a list of the users in my AD that have no mail attribute set and the user that the adobe sync tool fails at is one of the users that do not have a mail attribute

[2017-06-01 18:30] adobeDan commented on #201
Thanks *so* much for the confirmation.  I will catch this case and guard against it properly.  Marking this as a bug.

[2017-06-01 18:33] adobeDan commented on #199
fixed in PR #208

[2017-06-01 18:33] #199 closed

[2017-06-02 00:02] chad-fox opened #209 "Could not deserialize key data."
2017-06-01 16:44:23 1604 CRITICAL main - UMAPI connection to org id '00000000000

0000000000000@AdobeOrg' failed: Could not deserialize key data.

*org id removed

I receive this error when running user-sync test. I've checked the org id and all sees correct.

[2017-06-02 00:52] phil-levy commented on #209
Can you say more about what you are trying to do, what version you are running, perhaps include more of a log?

[2017-06-02 00:58] chad-fox commented on #209
I was trying to test a sync (Windows) and received the posted error. I believe it has something to do with the public key, which I'm recreating now.

I'm running v2.0

[2017-06-02 05:10] adobeDan commented on #167
So this turns out not to be completely fixed, for two reasons:

* csv input should be done in binary mode to handle all encodings properly
* LDAP format strings are unicode, so you can't do string formatting unless you decode what goes into them.

[2017-06-02 16:43] chad-fox commented on #209
Cert has been recreated and the issue persists.

I've verified that the information in connector-umami.yml is correct and matches with the Adobe I/O console.

-

C:\Windows\system32>python "C:\UserSyncTool\user-sync.pex" -t
2017-06-02 09:34:10 3628 INFO config - Using main config file: user-sync-config.
yml
2017-06-02 09:34:10 3628 INFO main - ========== Start Run (User Sync version: 2.
0) =======

[2017-06-02 18:12] adorton-adobe commented on #209
@chad-fox  – How did you generate the public/private keys for the API integration?  Did you follow the examples in this document?

https://www.adobe.io/apis/cloudplatform/console/authentication/createcert.html

[2017-06-02 21:04] chad-fox commented on #209
I followed the instructions from the Adobe I/O console to create the public/private keys.

Thanks,
Chad

[2017-06-05 19:59] adobeDan commented on #209
This looks to me like you are trying to save and then retrieve the private key data in the Windows credential manager, but that fails because of the length of the private key.  This is already reported as issue #198.

If this is not the same issue, then please post your (non-sanitized) main config file, umapi config file, and a debug log file to my Adobe email address (available from my GitHub pro

[2017-06-05 22:09] AndyH010493 commented on #201
Hello, sorry to pester. I was wondering if there is any time scale on when a fix can be applied?

[2017-06-06 02:24] chad-fox commented on #209
Files were sent over now.

Thanks,
Chad

[2017-06-06 05:48] adobeDan commented on #204
Hmmmm.  Does this happen when you try to connect to your LDAP or Active Directory server?  If so, you probably have set `require_tls_cert` to `True` in your LDAP config file.  This doesn't work the way you expect, because it requires the TLS connection to use a certificate whose entire signing chain is in your SSL store (which it almost never is).  And that setting is _not_ required to use SSL for

[2017-06-06 06:08] adobeDan commented on #201
Hi Andy, not a bother at all.  The fix is already working locally and I will push it for an rc build of 2.1.1 tomorrow or Wednesday.  We hope to have the 2.1.1 release ready Friday with this fix.

[2017-06-06 06:09] adobeDan commented on #209
Confirming I got the files.  I'll let you know what I find as soon as I can take a look.

[2017-06-06 06:16] adobeDan commented on #209
Hi @chad-fox, it looks like you are putting the path to the public certificate file (`certificate_pub.crt`) into your UMAPI config.  What you need is the private key file (something like `certificate.key` or `certificate.pem`).  The public key is what gets uploaded to your Adobe I/O integration, and then the private key gets sent up by the User Sync Tool.

To confirm, take a look at the first line

[2017-06-06 06:16] #209 closed

[2017-06-06 07:34] #167 closed

[2017-06-06 07:36] adobeDan commented on #198
It looks like the credential manager on windows has no easy way to store credentials larger than 512 chars.  The API allows it, but none of the interfaces do.  So I think the way to make this work on Windows (and all platforms) is to allows an encrypted private key in the PEM format and to store the key password in the keychain, rather than the key itself.

[2017-06-06 14:12] chad-fox commented on #209
@adobeDan thank you so much for all your help, I knew I was missing something.

The test sync ran without issue.

-Chad

[2017-06-06 18:04] adobeDan opened #211 "Mac/Linux: pex -w wheelhouse doesn't like empty requirements.txt"
When building on Mac or Linux, the build step
[code]
gives a warning message _You must give at least one requirement to wheel_.  Can we please suppress that warning (or that step, if the python-ldap-requirements file is empty)?

[2017-06-06 20:00] adobeDan commented on #201
So there is one more case my fix didn't catch: an email value consisting just of whitespace.  The same issue applied to username and domain values as well.

[2017-06-07 00:28] raymond-ensemble opened #213 "I'm getting a UnicodeDecodeError: 'utf8' even though I have used --config-file-encoding big5 when trying to sync from a CSV file"
**Prerequisite**
- Set up a CSV file, encode it in big5 (I used Notepad++ -> Encoding -> Characters sets ->Chinese -> Big5), and then, add big5 characters into the file.

**Steps**
1. Try to sync by using the big5 encoded CSV file
command used:

**Results**
I get this error:
UnicodeDecodeError: 'utf8' codec can't decode byte 0xa4 in position 12: invalid start byte

[2017-06-06.txt](https://github.

[2017-06-07 01:29] #211 closed

[2017-06-07 01:40] adobeDan commented on #213
The --config-file-encoding option tells us the encoding of the user-sync-config.yml file, *not* of any CSV file.  To tell us the encoding of your csv file, you need to add
[code]
to your `connector-csv.yml` file.  See the example config files for details.

[2017-06-07 03:52] #198 closed

[2017-06-07 17:40] raymond-ensemble commented on #213
Ah, I see.

I was able to sync after adding the

[2017-06-07 18:11] adobeDan commented on #213
Fabulous!  Thanks for confirming that it works as expected - I'm glad we got some Chinese character testing!

[2017-06-07 18:11] #213 closed

[2017-06-07 21:15] raymond-ensemble opened #218 "Error with keyrings.alt when trying to sync on a non-desktop version of Ubuntu"
**Steps**
1. Use **Putty** to connect to Ubuntu server
2. Use "keyring set umapi_api_key 210DB41957FFDC210A495E53@AdobeOrg" and password to set up the keyring
3. Run the user-sync.

**Results**
I would get this message:

However, if I use a Ubuntu desktop VM and run user-sync (with identical config files and keyring set command), it would run fine.

[2017-06-07.txt](https://github.com/adobe-apipla

[2017-06-07 21:29] ianmak commented on #218
oops I might have mislead Raymond here... this was tested on a headless linux server, which doesn't have gnome-keyring-manager if I'm not mistaken, it may work once that installed. I'll try that out and share the results here...

[2017-06-07 22:24] adobeDan commented on #218
headless servers never have the credential store installed by default.

[2017-06-07 22:49] bhunut-adobe commented on #182
@adobeDan - I just read your comment on the PR. Will this still be included in v2.1 release?

[2017-06-07 23:45] adobeDan commented on #182
No, this will not be in 2.1.1.  We thought this was an included feature in 2.0, but it turns out it wasn't.  That makes it an enhancement request, not a bug.  It will go into a 2.2.  Just for you, @bhunut-adobe :), I will try to get 2.2rc1 out next week so you can validate the approach and give it to whatever customer is deperate for it.  But no promises about when 2.2 itself will come.

[2017-06-08 16:23] chad-fox opened #220 "404 Error - User Manual"
The link for the User Manual on the user-sync.py page gives a 404 error.

https://adobe-apiplatform.github.io/user-sync.py/user-manual/

The following link with /en/ added works:

https://adobe-apiplatform.github.io/user-sync.py/en/user-manual/

[2017-06-08 17:28] adobeDan commented on #220
Hey @phil-levy can you be sure to fix the README before tomorrow's release?  Thanks!

[2017-06-08 20:52] adorton-adobe commented on #220
Can we set up https://adobe-apiplatform.github.io/user-sync.py/user-manual/ to redirect to https://adobe-apiplatform.github.io/user-sync.py/en/user-manual/ (and same for the Success guide)?  We've got a number of pieces of sales/marketing collateral with the non-localized User Manual and Setup and Success Guide.

[2017-06-08 21:21] Stancicle commented on #204
`require_tls_cert` is set to `false`.
Here is the log. [2017-06-08.txt](https://github.com/adobe-apiplatform/user-sync.py/files/1062452/2017-06-08.txt)

The command I've been running to test `python user-sync.pex -t --users mapped --update-user-info --process-groups`

[2017-06-08 21:46] phil-levy commented on #220
Is this because that is where the user manual used to be and people have links to it?

[2017-06-08 22:22] adobescarr commented on #220
Hey @phil-levy and @adorton-adobe - I've just found this 404 and realised it's due to multi-language support. As a POB PM I and the rest of the team constantly use different direct links within many presentations and are often sent via email or within meeting invites during project kick-off and consultation sessions. Therefore many customers across EMEA and AMER have these links and will be hittin

[2017-06-09 00:11] adobeDan opened #224 "user-sync v2.1.1rc2 won't start up on Windows"
Apparently the startup sequence for pycryptodome 3.4.6 under pex packaging on Windows use paths that are too long and there is an exception thrown at some point that looks like this:
[code]
The exact file that it breaks on varies, depending on the length of your windows home path directory.  It always seems to break on a mixed-mode filename (containing both backward and forward slashes), and Pytho

[2017-06-09 17:40] adobeDan commented on #224
So it turns out our published workaround: set the Windows environment variable PEX_ROOT to `c:\pex` (or something else short) works even for the rc2 build.  Thanks @phil-levy for pointing that out!!  So I am going to reopen this bug, back out the version change we took for pycryptodome, and add something to the release notes saying that, due to the library change, it will be necessary to use the P

[2017-06-09 18:53] #224 closed

[2017-06-09 18:55] #220 closed

[2017-06-09 18:56] adobeDan commented on #218
@ianmak did you add gnome-keyring-manager and confirm that the problem was the missing component?  If so please close this bug.

[2017-06-09 21:25] adobeDan commented on #204
Thanks for the log.  It's actually your connection to the Adobe user management server that's failing with a certificate failure, which I've never seen.

Can you please try going to https://usermanagement.adobe.io/v2/usermanagement in a system browser on the same machine you are running User Sync?  Normally you would get a correctly-terminated secure connection and a 404 (file not found) error.  B

[2017-06-09 22:15] bhunut-adobe commented on #204
@adobeDan - I believe I was working with this customer earlier today. We verified by going to that URL on the browser and get 404 error. We also inspected the SSL certificate of that website and it was able to verify.

@adorton-adobe is also having the same issue with another customer.

[2017-06-09 22:59] adobeDan commented on #204
So User Sync uses the [python requests](http://docs.python-requests.org/en/master/) library to make its server calls, and this library uses openSSL to do the certificate validation, as explained in [this section of the docs](http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification).  Please check that your system's installation has the necessary server signing certificate for

[2017-06-13 09:12] AndyH010493 commented on #201
Hi Dan,

Strange one. I have installed version 2.1.1 of the user-sync tool but I'm still getting the same error. See below:

2017-06-13 10:10:19 32744 ERROR main - Unhandled exception
Traceback (most recent call last):
  File "/home/adobesync/.pex/install/user_sync-2.1.1-py2-none-any.whl.d74436c53f3ebfa40d11c3b3623530ef8a9bb6e8/user_sync-2.1.1-py2-none-any.whl/user_sync/app.py", line 352, in main

[2017-06-13 09:13] AndyH010493 opened #227 "User-Sync tool crashing with "AttributeError: 'NoneType' object has no attribute 'split'""
Hi Dan,

Strange one. I have installed version 2.1.1 of the user-sync tool but I'm still getting the same error. See below:

2017-06-13 10:10:19 32744 ERROR main - Unhandled exception
Traceback (most recent call last):
File "/home/adobesync/.pex/install/user_sync-2.1.1-py2-none-any.whl.d74436c53f3ebfa40d11c3b3623530ef8a9bb6e8/user_sync-2.1.1-py2-none-any.whl/user_sync/app.py", line 352, in main
be

[2017-06-13 16:01] adobeDan commented on #227
Hmmmm.  Can you send me your debug logs again?  I need to figure out if the catch for empty emails isn't working (which would surprise me) or whether there's some other form of unexpected email format that's crashing the tool (which I suspect).

Also, what platform are you on?  I'd like to post an instrumented build for you that will help me narrow this down.

[2017-06-13 16:14] AndyH010493 commented on #227
Hi Dan,

Will send the log over now.

Im running the tool on an Ubuntu server

Thanks
Andy

[2017-06-13 16:18] AndyH010493 commented on #227
log has just been sent

[2017-06-13 17:06] adobeDan commented on #227
ok, got the log and compared it with what was happening before.  There's clearly a failure mode that I didn't think of before, and now I'm kicking myself for not catching it at the root of the failure.  Ah, well, live and learn.  I'm going to put in a better fix that also instruments the source of the problem and then post a build for you to try.  Which version of Ubuntu?  I'll use 14 LTS Trusty u

[2017-06-13 17:12] adobeDan commented on #218
I have confirmed that Ubuntu LTS Trusty server config doesn't include keyring support, but when added user-sync can use it.

[2017-06-13 17:12] #218 closed

[2017-06-13 17:14] adobeDan commented on #204
@bhunut-adobe @Stancicle Any progress on checking SSL certs on the affected system?

[2017-06-13 19:33] chad-fox commented on #227
Hi @adobeDan I have a similar issue but in Windows (2012r2), running v2.1.

PS C:\UserSyncTool> C:\UserSyncTool\AdobeUserSync_TEST_MODE.ps1
2017-06-13 12:26:04 3668 INFO config - Using main config file: user-sync-config.yml
2017-06-13 12:26:04 3668 ERROR main - Unhandled exception
Traceback (most recent call last):
  File "c:\user-sync.pex\install\user_sync-2.1-py2-none-any.whl.fa4c34d1dc170ed47d2

[2017-06-13 20:37] adobeDan commented on #227
@chad-fox This doesn't look like a related error.  Can you please open a separate issue about this, setting `console_log_level` to be `debug` in your config, and attaching the full console output?  (There should be no need to sanitize it, because this is an early quit so no user data should be in the output.)

[2017-06-13 22:35] AndyH010493 commented on #227
@adobeDan Im using Ubuntu 16.04.2

[2017-06-13 22:35] AndyH010493 commented on #227
thanks for the quick reply btw

[2017-06-14 01:37] adobeDan commented on #227
OK here's a [2.2a1 release](https://github.com/adobe-apiplatform/user-sync.py/files/1073293/user-sync-2.2a1-ubuntu.tar.gz) for you to try, built off the issue227 branch on Ubuntu 16.04.2 LTS (server).  This should (hopefully! :) not crash, and should log warnings for the users on which it was crashing before.

[2017-06-14 16:08] bhunut-adobe commented on #204
@adobeDan:   @adorton-adobe and I just worked with another customer who had the same issue. We were able to verify this is a network issue. The customer was able to verify the certificate by using the external network (LTE Hotspot).  @Stancicle Please verify with your network team to see if there is a security protocol that is preventing cert verification.

[2017-06-14 16:46] Stancicle commented on #204
@bhunut-adobe For that customer that had the same problem, which URL exception did they put into their firewall? On our end, we have white-listed ims-na1.adobelogin.com and https://usermanagement.adobe.io/v2/usermanagement and we still see the error.

[2017-06-14 18:13] adobeDan commented on #227
@AndyH010493 Yes please I would **LOVE** to see the log so I can find out how this happens! :)

[2017-06-14 18:30] adobeDan commented on #204
@Stancicle You will likely need to exempt the certificate authority for the root signing certificate, so that the CA (DigiCert) can be contacted to make sure the web server certificate is being used correctly and has not been revoked.  I suggest you do what I'm guessing @bhunut-adobe did for the other customer: run user sync from a machine that's outside of your firewall (using a CSV file as input

[2017-06-14 19:28] AndyH010493 commented on #227
@adobeDan I have just emailed you the log. Thanks again

[2017-06-14 19:34] Stancicle commented on #204
Thank you for the suggestions, but at this point in time I'll stop testing the software due to mounting work, and our current method is working as it should (SSO). I'll re-visit this once things have died down a bit. Please close this thread if need be on your end.

[2017-06-14 19:45] ahambidg opened #229 "No Such File or Directory Error on Crypto Folders"
Hello!  I'm trying to set up a new installation of 2.1.1 and while I have set the PEX_ROOT variable, could it be that my variable is too long?  I'm receiving this error:

`IOError: [Errno 2] No such file or directory: u'C:\\user_sync\\.pex\\install\\pycryptodome-3.4.6-cp27-cp27m-win_amd64.whl.dfec9ea083dc290e772b10e484883917dbc3683d.252787247f5e42659e04facecfb42ae8\\pycryptodome-3.4.6-cp27-cp27m-w

[2017-06-14 20:09] phil-levy commented on #229
That does look a bit over 256 characters (271 by my count) but is also suspicious with the double back-slashes.  I'll take a closer look.

[2017-06-14 20:09] bhunut-adobe commented on #204
Additional to this issue:

Python requests library on windows use CA bundle instead of Windows Cert Store
Since UST package everything in PEX file. CA Bundle located here

`[User Sync Tool Path]\.pex\install\requests-2.13.0-py2.py3-none-any.whl.59dc5c6338fb72ca09dcf97dda36a7aaa5d6bd0e\requests-2.13.0-py2.py3-none-any.whl\requests\cacert.pem`

If you have SSL inbound inspection or forward proxy ena

[2017-06-14 20:24] phil-levy commented on #229
Yes, the new pycryptodome library has longer names and really puts us on the edge.  I get the same error you indicated with PEX_ROOT set to the recommended value C:|user_sync\.pex.  I set it to C:\.pex and then things worked so the extra 10 characters made the difference.  If you set

set PEX_ROOT=C:\.pex

it should work.  My comment about the double back-slashes is incorrect; those are okay.

[2017-06-14 20:39] adobeDan commented on #229
Sorry, @ahambidg, but as the release notes for 2.1.1 say: this is a known issue and you will have to set your PEX_ROOT to something extremely short.  Both the `C:\.pex` recommended here by @phil-levy and the `C:\pex` (without the leading `.`) recommended by the release note will work.  I am going to make this into a documentation bug so we update the docs to have the shorter recommendation, at lea

[2017-06-14 20:46] ahambidg commented on #229
Yeah, that did it.  Thank you for clarifying that, and updating the
documentation would be a huge help.  :)

On an unrelated note, have you all thought about turning this into a
container a la Docker or Vagrant?

Thank you for your hard work!

On Wed, Jun 14, 2017 at 4:39 PM, Daniel Brotsky <notifications@github.com>
wrote:

[2017-06-14 20:51] adobeDan commented on #227
And thank you for the log, which I have received!  I'll let you know what I find after I have a chance to analyze it against the last one you sent me.

[2017-06-14 20:56] adobeDan commented on #204
Ah, yes, excellent advice @bhunut-adobe!  I had completely forgotten about the many firewalls that do SSL termination and re-establishment on the outbound so that they can do packet inspection!

I am going to mark this issue as a question and close it, but @Stancicle if you ever return to this issue and need more help feel free to reopen it (or open a new one referencing this one)!

[2017-06-14 20:56] #204 closed

[2017-06-14 21:03] adobeDan commented on #229
@ahambidg Thanks for the thanks! - they are always nice to hear.

Yes if you look at #22 you will see our discussion about Docker support.  We're not going that way, but hopefully it will provide you a good start if you want to pursue it.  And we're glad to take contributions if you develope something others can use!

[2017-06-14 21:19] adobeDan commented on #227
So it turns out users with "improperly formatted email addresses" (no domain, illegal characters, etc.) were crashing us.  Since this is a rare event on the customer side (congrats, @AndyH010493, for being the first customer to have this happen :), I think the general warning message being used (which simply says that the user is being skipped because they don't have a valid user key), along with

[2017-06-15 11:37] AndyH010493 commented on #227
Thanks @adobeDan. There's always a first :)

[2017-06-15 16:15] chad-fox opened #233 "Unhandled exception in LDAP connector"
I'm getting the following error when attempting to setup a new instance for a separate domain:

-

2017-06-15 09:09:59 2384 INFO config - Using main config file: user-sync-config.yml
2017-06-15 09:09:59 2384 INFO main - ========== Start Run (User Sync version: 2.1) ==============
2017-06-15 09:09:59 2384 INFO main - ------- Invocation parameters -------
2017-06-15 09:09:59 2384 INFO main - user-sy

[2017-06-15 16:54] chad-fox commented on #233
Issue was domain controller related. After changing the DC I was able to successfully run a test sync.

[2017-06-15 19:48] adobeDan commented on #233
@chad-fox thanks so much for the bug report.  I'm reopening this issue because really the LDAP connector should be catching all errors of this type and reporting them cleanly rather than crashing with a stacktrace.

[2017-06-15 21:14] chad-fox commented on #233
Sounds good, thanks for taking a look @adobeDan.

[2017-06-16 05:39] #129 closed

[2017-06-16 05:39] #182 closed

[2017-06-16 05:39] #233 closed

[2017-06-16 05:51] #227 closed

[2017-06-16 06:07] adobeDan opened #234 "timeout is too low for very large organizations"
With very large organizations, the fetch of a page can sometimes take more than 2 minutes, which is the default timeout used by the underlying `umapi_client`.

[2017-06-16 06:09] adobeDan commented on #234
A default timeout of 2 minutes works for most organizations.  What's needed is a way for those who need to adjust it to be able to do so.  So I'm going to add a `timeout` parameter to the `limits` section of the config.

[2017-06-16 21:21] #234 closed

[2017-06-16 22:09] adobeDan opened #235 "Adobe ID users should not be assumed to have username or domain fields"
The `username` and `domain` fields on Adobe ID users are not always present in every response from the server, because `username` and `domain` are attributes that only exist for Enterprise and Federated ID users.  Currently, User Sync crashes if it gets an Adobe ID user who doesn't have one of these fields, so the server is forced to generate them in all responses (even though the API spec does no

[2017-06-16 22:22] adobeDan opened #236 "Setting users to a known state shouldn't require fetching Adobe users"
If an organization is very, very large, and the customer wants to run a job that creates or updates specific users to have a specific set of known attributes and group memberships (similar to a bulk upload from the admin console), the customer shouldn't have to wait for User Sync to fetch the Adobe-side users (which may take a long time) and to do the sync.  Instead, the customer should be able to

[2017-06-16 22:58] phil-levy commented on #236
Not sure what you are getting at here, but that capability is already present and was designed to support push notifications.  You can set a csv file with the users you want to populate and exclude adobe-only users to leave everyone else alone.

[2017-06-17 05:05] adobeDan commented on #236
Yes but such a User Sync job will still fetch all the Adobe users, only to exclude them.  If your organization is very large then fetching all the Adobe-side users could take a very long time and there's no reason to.  This enhancement would be to skip the fetch of the Adobe users completely.

[2017-06-17 18:08] phil-levy commented on #236
Got it.  Thanks.

[2017-06-18 06:36] adobeDan commented on #229
Hey @phil-levy I just found the most amazing [Microsoft Article](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx) in which it says that Win10 can be set not to enforce the `MAX_PATH` (260 char) limit:

![Enabling long paths in Windows 10](https://user-images.githubusercontent.com/24463201/27258672-a190113e-53b5-11e7-87da-1b7027843239.png)

I believe the docs should

[2017-06-18 14:31] jameslockman commented on #229
Win!

James

James Lockman  | Manager, Digital Media Services  |  Adobe
p. 917.934.0849<tel:19179340849>  |  c. 917.284.2268<tel:19172842268>  |  @jameslockman<http://twitter.com/jameslockman>  |  blog<http://blogs.adobe.com/jlockman>  |  jlockman@adobe.com<mailto:jlockman@adobe.com>

From: Daniel Brotsky <notifications@github.com>
Reply-To: "adobe-apiplatform/user-sync.py" <reply@reply.github.com

[2017-06-19 04:01] #52 closed

[2017-06-19 04:01] #235 closed

[2017-06-19 07:07] adobeDan opened #237 "all encodings should default to utf8"
With the introduction of Unicode support in 2.1, all the encodings were defaulted to `ascii`.  With the prevalence of non-Ascii characters worldwide, this will be limiting for most customers, who will be forced to explicitly specific a different encoding.  We should default all encodings to `utf8`, which is fully backward-compatible with `ascii`, and will in fact be the default for almost all cust

[2017-06-19 07:07] adobeDan commented on #237
@phil-levy Any objections to making this change for 2.2?

[2017-06-19 12:42] phil-levy commented on #237
No, it sounds like an excellent idea.

[2017-06-20 05:59] #236 closed

[2017-06-20 07:22] #237 closed

[2017-06-20 07:24] adobeDan opened #239 "update docs for 2.2 release"
If you look through the release notes for 2.2, you'll see a number of places where the docs need to be updated :).

[2017-06-20 13:48] bhunut-adobe opened #240 "When user_domain_format not specified, domain is not taken from the email"
[code]

I could not find anywhere in the code where "the domain is taken from the domain part of the user's email address."

I'm working with a customer who has multiple domains and they are using Username-Based SSO.

I commented out user_domain_format but this cause incorrect # of directory users filtered.

[2017-06-20 14:48] Luci2015 commented on #240
Hi Kevin, I've searched the same and just found one for the CSV file input:

[code]

[2017-06-20 15:37] bhunut-adobe commented on #240
@Luci2015 Look like they forgot to implement it in LDAP connector. I just submitted a pull request with the change.

[2017-06-20 16:23] bhunut-adobe commented on #229
@adobeDan  - Enable Win32 Long Paths only supported on Windows Server 2016 and Windows 10.

[2017-06-20 16:46] adobeDan commented on #240
Wow!  I love it when a reported bug gets fixed before I even see the report!  Thanks folks!  And this is just in time for the rc1 build of 2.2 - kismet!!

[2017-06-20 17:24] adobeDan opened #244 "v2.2rc1 Makefile doesn't work on Windows/py3"
The platform-specific parts of the Makefile invoke a python interpreter but the command it's given is py2-specific.  The Makefile needs to be reworked to be python- and platform-independent, if at all possible.

[2017-06-20 23:27] #240 closed

[2017-06-21 23:43] #244 closed

[2017-06-26 15:51] bhunut-adobe opened #247 "UID on Line 347 in rules.py"
`target_attributes['uid'] = directory_user.get('uid')` – Line 347 Rules.py

Was this forgotten to get remove when UID was removed from directory_ldap.py a while back?

[2017-06-26 15:55] adobeDan commented on #247
Yep, just slipped through, thanks.  Marked as a bug for 2.2, and will fix today.

[2017-06-26 15:59] #247 closed

[2017-06-26 17:56] #229 closed

[2017-06-26 17:56] #239 closed

[2017-07-05 20:36] raymond-ensemble opened #253 "I get umapi.primary.action error when trying to add users to User Group"
I get this error when I tried to sync users from a csv file, where the users are in Product and User groups.

2017-07-05 13:25:51 76992 ERROR umapi.primary.action - Error in requestID: action_2 (User: {'requestID': 'action_2', 'user': u'ccewin2@ensemble.ca'}, Command: {'add': {'product': ['ensemble test', 'ensemble test 2']}}): code: "error.internal.add" message: "add [ccewin2@ensemble.ca] to prod

[2017-07-10 20:05] adobeDan commented on #253
The "error.internal.add" error code suggests this was due to instability in the connection between the UMAPI server and the back-end server which actually does the add of the user to the group.  If you can repro this failure please attach a debug log and I will pass it on to the server team.

[2017-07-11 17:25] raymond-ensemble commented on #253
I just retried it and it seems to be working fine now.

However, I'm not sure if it's related to the same issue, but when I tried to open the Admin Console Users page on my browsers (Firefox, Chrome), I would get an infinite spinner. I can open other pages (User Groups, Admins, Overview, etc) without any issue.

[2017-07-11 17:26] jameslockman commented on #253
Your console may have been updated to the new Console. Try clearing your browser cache and reload the page.

James

James Lockman  | Manager, Digital Media Services  |  Adobe
p. 917.934.0849<tel:19179340849>  |  c. 917.284.2268<tel:19172842268>  |  @jameslockman<http://twitter.com/jameslockman>  |  blog<http://blogs.adobe.com/jlockman>  |  jlockman@adobe.com<mailto:jlockman@adobe.com>

From: raymo

[2017-07-11 17:33] raymond-ensemble commented on #253
I'm still getting the spinner after clearing cache. I also tried it on Incognito chrome browser, but it's the same.

[2017-07-11 19:50] adobeDan commented on #253
I believe you will need to be VPN'd in to Adobe to manage this org, because it's been converted to use the new Console UI (aka One Console) and I don't think we are allowing that outside the firewall yet.  I know that @chesterl86 has gotten VPN credentials for a number of you.

[2017-07-12 20:09] adobeDan opened #254 "update old libraries where possible"
We are still depending on older versions of Windows libraries due to custom builds or other now-fixed incompatibilities.  Need to do a careful review of all such dependencies and clean them with each release.

[2017-07-12 20:17] #254 closed

[2017-07-13 07:12] adobeDan commented on #253
Closing since the original symptom does not reproduce.  @raymond-ensemble, feel free to contact me via email if you continue to have issues with the console.

[2017-07-13 07:12] #253 closed

[2017-08-02 00:09] adobeDan opened #257 "User Sync should catch exceptions thrown by umapi_client.py when creating actions"
The input value sanity checking done by umapi_client.py can cause it to throw a ValueError with the description of the problem (e.g., local email addresses cannot contain non-Ascii characters).  User Sync does not catch these exceptions, resulting in a stack trace.  It should at least catch the exception and re-raise it as a top-level logged failure.

[2017-08-02 16:17] andrewhollomon opened #258 "Private key decryption fails in py3"
I am working to set up user-sync to use a private-encrypted.key. User sync is running on Windows server. Have created encrypted private key using openssl (openssl pkcs8 -in private.key -topk8 -v2 des3 -out private-encrypted.key)

Connector-umapi.yml is

enterprise:
  org_id: "##############@AdobeOrg"
  secure_api_key_key: ADOBE_API_KEY
  secure_client_secret_key: ADOBE_API_CLIENT_SECRET
  tech_acc

[2017-08-02 21:09] phil-levy commented on #258
Two thoughts:

1. Is the indentation in the connector-umapi.yml file correct?  As pasted, the items under enterprise: are not indented.

2. Are you really running the 2.2 (or 2.1.1) version of user sync?  You didn't include the part of the log where it lists the version.

[2017-08-02 21:17] andrewhollomon commented on #258
Thanks, I can confirm we are running 2.2 and the exact connector-umapi.yml formatting shown below

![capture](https://user-images.githubusercontent.com/20995329/28895398-14e413ba-778d-11e7-83fb-369b2e47d0b2.PNG)

[2017-08-03 01:20] andrewhollomon commented on #258
In order to take Windows Credential Manager out of the equation - I tried instead using priv_key_pass and adding the passphrase directly to the umapi.yml file.

That results in the following:

2017-08-02 18:11:39 5268 DEBUG umapi - umapi: reading private key data from file C:\PEX\private-encrypted.key
2017-08-02 18:11:39 5268 DEBUG umapi - umapi: creating connection for org @AdobeOrg at endpoint h

[2017-08-03 03:26] adobeDan commented on #258
So you had a misconfiguration in your initial setup: rather than `secure_priv_pass_key` you should have used `secure_priv_key_pass_key`.  (You always take the base name, in this case `priv_key_pass` as in your second setup, and prepend `secure_` and append `_key`.  The result is unfortunately redundant in this case, which causes a lot of people - including myself - to make the same mistake you did

[2017-08-03 03:28] phil-levy commented on #258
and are you running the build posted in releases or did you do a build yourself?

[2017-08-03 14:45] andrewhollomon commented on #258
Got it, thanks. I'm running Python 3.6.2 (2017-07-17). I can also confirm I do get further by using `secure_priv_key_pass_key` with the result being the same type error that I receive using `priv_key_pass`

[2017-08-03 16:44] adobeDan commented on #258
OK, I've now got this as a bug.  I'll try to push a fix this week, although we may not release immediately.  @andrewhollomon Can you do a build yourself, or do you need me to post a build for you here?  If so, it looks like you would need windows 10/py3, yes?

[2017-08-03 22:59] andrewhollomon commented on #258
Thanks and Yep, I should be able to do a build.

[2017-08-04 02:38] adobeDan commented on #258
@phil-levy noticed we have a bug in our sample umapi config file - it has the wrong value for the sample secure password key.  I'll fix that too.

[2017-08-04 03:47] #258 closed

[2017-08-04 04:31] adobeDan commented on #258
@andrewhollomon This is fixed in v2 head (app version 2.2.1).  I have made a [tag v2.2.1rc1](https://github.com/adobe-apiplatform/user-sync.py/releases/tag/v2.2.1rc1); you can download the zip of that, expand it, and do `make pex` in the user-sync.py directory.

[2017-08-04 22:53] adobeDan opened #260 "makefile (Windows) needs to install requests before pex"
On a clean Windows python 36 installation, if you install `pex` *before* installing `requests`, then `pex` complains that it won't be able to fetch things reliably, and in fact it has trouble fetching the keyring dependencies.  So the makefile needs to install requests before installing pex.

[2017-08-04 22:57] #260 closed

[2017-08-04 23:27] adobeDan commented on #258
@andrewhollomon To get a clean build to work on Windows, I also had to fix #260.  So now there is a [tag v2.2.1rc2](https://github.com/adobe-apiplatform/user-sync.py/releases/tag/v2.2.1rc2), and attached is [a build of that](https://github.com/adobe-apiplatform/user-sync.py/files/1201912/user-sync-v2.2.1rc2-windows-py36.tar.gz) for you to try.

[2017-08-05 00:02] andrewhollomon commented on #258
Thanks @adobeDan  I can confirm being able to read and use an encrypted private key w/ passphrase stored in Windows credential manager with the 2.2.1.rc2 build.

`2017-08-04 16:55:07 5512 DEBUG umapi - umapi: reading private key data from file C:\PEX\private-encrypted.key
2017-08-04 16:55:07 5512 DEBUG umapi - umapi: creating connection for org @AdobeOrg at endpoint https://usermanagement.adobe.io

[2017-08-05 00:30] adobeDan commented on #258
Yay!  Thanks so much @andrewhollomon for confirming.  Enjoy syncing! :)

[2017-08-07 17:55] bhunut-adobe opened #261 "Proxy Authentication Support"
A customer requests an ability to add Proxy Setting within UST.

https://github.com/adobe-apiplatform/umapi-client.py/issues/52

[2017-08-08 04:33] adobeDan commented on #261
We use the OS network stacks, all of which (to my knowledge) provide both proxy and proxy-authentication capabilities. I'm marking this wontfix and will close it in a week unless someone shows me an OS we run on that has no authenticated-proxy support.

[2017-08-21 15:45] bhunut-adobe opened #265 "Extension Hook - Unable to pull additional source_attributes - LDAP failure"
I'm trying to pull in additional attribute to extension hook and run into this issue.

I also tested the example extension and running into the same thing.

UST version 2.2

[2017-08-21 17:11] adobeDan commented on #265
Kevin, I need more info.  Python 2 or Python 3?  Debug log?  What LDAP server are you running against?

[2017-08-21 17:14] adobeDan commented on #261
Closing as per prior comment.

There is a very common misconception that Windows 10 proxying does not support proxy authentication.  In fact it does, but the authentication is managed in Windows Credential Manager rather than in the proxy settings.  Basically, you configure your proxy host/port in the Proxy settings, and then you configure an Internet Credential with the username and password for

[2017-08-21 17:14] #261 closed

[2017-08-22 20:19] bhunut-adobe commented on #265
I'm running on Python 2.7.13 and Active Directory

[2017-08-21.txt](https://github.com/adobe-apiplatform/user-sync.py/files/1243252/2017-08-21.txt)

[2017-08-23 00:04] adobeDan commented on #265
Ah!  In py2, the parameter values passed to the LDAP client must be unicode, and we are failing to upconvert the extended attribute names.  Sigh.  This is a nasty bug that I will fix, but in the meantime there may be a workaround: force the attribute value "distinguishedName" in your config to be read as a unicode string by specifying it as:
[code]
Try that and let me know whether that gets you fu

[2017-08-25 17:27] bhunut-adobe commented on #265
Thank Dan. This workaround fixed the issue.

[2017-08-25 17:38] bhunut-adobe opened #266 "Extension Hook - Multi-value attribute."
When extending a multi-valued LDAP attribute such as memberOf UST will only return the 1st value in an array.

[2017-08-25 23:03] adobeDan commented on #266
What would you expect to come back?  I'm guessing you want the list of values?

[2017-08-28 05:26] adobeDan commented on #257
The fix doesn't really work, because umapi-client is doing strange things with unicode error strings.  We will need a new version of umapi-client.

[2017-08-28 05:29] #257 closed

[2017-08-28 07:34] #265 closed

[2017-08-28 07:34] #266 closed

[2017-08-28 07:37] adobeDan commented on #266
So an extended attribute value can now be:
* `None` if there was no value
* a string (if there was one value)
* a list of strings (if there was more than one value)

[2017-08-28 07:38] adobeDan commented on #265
Extended attribute values are now upconverted to unicode automatically as necessary.

[2017-08-29 23:28] adobeDan opened #268 "Push strategy should remove from groups before adding to groups"
When doing a run with `--strategy push`, we currently put users into the right groups before taking them out of the right groups.  Because the entitlements of the groups may overlap, the result of this ordering is that users will lose the overlapping entitlement, which is probably not what the customer wants.

[2017-08-29 23:29] adobeDan commented on #268
We have a customer reporting that this has affected them.

[2017-08-29 23:40] adobeDan opened #269 "Secondary organization groups not updated for new users unless strategy is push"
Apparently v2.2 introduced a very bad bug where users in secondary orgs did not have the correct groups added when created during a sync.

[2017-08-29 23:40] adobeDan commented on #269
This was found by inspection of the push strategy code; it was not found in our testing.  We should probably test for it.

[2017-08-30 04:05] #268 closed

[2017-08-30 04:05] #269 closed

[2017-09-06 01:28] shaungarcia opened #271 "UserSync Error"
I'm reporting this on behalf of my customer.  Please advise.

"We've just noticed that our Adobe User Sync is showing API errors as follows below.
The last successful sync (when the script stops running for us) was 7.30pm last night (5th September) and when the script started running again at 7am we started getting the error.
Are you able to advise if there is a problem at the Adobe end ?"

2017-0

[2017-09-06 03:53] adobeDan commented on #271
Yes, this behavior indicates an issue on the Adobe side: typically it means that high traffic from other clients has temporarily overloaded the server, and it is returning a 429 code which instructs clients to retry after a pause.

These messages from the `umapi_client`, which is the module that User Sync relies on to do server communication, do not actually indicate an error.  Instead, they indic

[2017-09-06 14:15] shaungarcia commented on #271
Hi Daniel,

Further comment from the customer below. Please advise?

--------------------

Hey Shaun

Sorry I should know better than to send only bits of logs!!

The sync is not succeeding it's failing because the server is unavailable and it gives up after 4 attempts.

Below is the full log of the last sync attempt.

2017-09-06 14:32:42 23893 INFO config - Using main config file: /path/to/user-s

[2017-09-06 14:48] adobeDan commented on #271
The enterprise support team and I have been in touch with the engineering team and they are modifying throttling limits so as to address the issue.  Yours is by no means the only impacted customer.  Our apologies and I am expecting this will be addressed soon.

[2017-09-06 22:51] shaungarcia commented on #271
Thanks Daniel.  Look forward to hearing back.

Best Regards
________________________________
Shaun Garcia | Principal Customer Success Manager | Adobe |  +61 424 980 888 | shaun@adobe.com<mailto:shaun@adobe.com> | www.adobe.com.au<http://www.adobe.com.au/>

[cid:image001.png@01D327B6.79DE9DC0]

From: Daniel Brotsky <notifications@github.com>
Reply-To: "adobe-apiplatform/user-sync.py" <reply@reply.

[2017-09-06 23:32] adobeDan commented on #271
The problem was resolved about 10am PT this morning.  Your customer's syncs should be working fine since then.  Please follow up if there are any issues.  Thanks!

[2017-09-06 23:36] shaungarcia opened #272 "SKIM provisioning from Azure AD"
Customer query: What compatibility does the admin console have with SKIM provisioning from Azure AD.  If not is there any future plans around this?

[2017-09-06 23:38] shaungarcia commented on #271
Great thanks for the quick turnaround on this.

Best Regards
________________________________
Shaun Garcia | Principal Customer Success Manager | Adobe |  +61 424 980 888 | shaun@adobe.com<mailto:shaun@adobe.com> | www.adobe.com.au<http://www.adobe.com.au/>

[cid:image001.png@01D327BD.0B371DA0]

From: Daniel Brotsky <notifications@github.com>
Reply-To: "adobe-apiplatform/user-sync.py" <reply@reply

[2017-09-06 23:38] adobeDan commented on #272
Adobe does not support SKIM at this time.  Adobe-managed federation with Azure AD is a known customer request, but it is not currently prioritized on our backlog and so we have no timeframe for support.

[2017-09-06 23:38] #272 closed

[2017-09-06 23:42] #271 closed

[2017-09-14 21:54] adorton-adobe opened #273 "Typo in xenial release filename?"
Seems to be a typo in the filename for the 2.2.1 Ubuntu xenial releases.

- user-sync-v2.2.1-ubuntu-xenix-py27.tar.gz
- user-sync-v2.2.1-ubuntu-xenix-py35.tar.gz

Unless we really do intend to target [Xenix](https://en.wikipedia.org/wiki/Xenix) :)

[2017-09-15 00:26] adobeDan commented on #273
Ha!  Best laugh I've had all day.  Thanks!

[2017-09-15 00:28] adobeDan commented on #273
Fixed by editing the name in the release artifacts.  Thanks Github for making those links like everything else!

[2017-09-15 00:28] #273 closed

[2017-09-20 17:34] Luci2015 opened #276 "version 2.2.1 - test mode"
running user-sync tool on windows server 64 bit version, python 2.7, in **test mode**

Result: actions gets through even if command line run with parameter '-t'
Expected: no change Adobe Console side

submitting log file on private

[2017-09-20 19:27] Luci2015 opened #277 "v 2.2.1 missing modules with python 2.7.14"
Please update the doc on Python version required for Windows OS, as v 2.7.14 gives an error on launch for missing modules

[2017-09-20 20:16] adobeDan commented on #276
This looks to be a server-side bug when handling `removeFromOrg` actions with the `{"deleteAccount": true}` modifier.  I have opened a bug with the UMAPI server team internal to Adobe.  Closing here as user-sync does not have an issue.

[2017-09-20 20:16] #276 closed

[2017-09-20 20:18] adobeDan commented on #277
Thanks for the report.  Can you submit a comment showing what you saw in the Windows shell or powershell at launch time?

[2017-09-20 20:24] Luci2015 commented on #277
Customer did it on his machine, then overwrote 2.7.14 with v2.7.9 on new install
I recognised the error output in console as similar to it was the one for Python 3 version, back in the day..
If you are after the missing modules, cannot say if they were the same as for Python 3 back then, nor remember their name, just that there were about 6-7 of them listed.
Sorry!

[2017-09-20 20:29] adobeDan commented on #277
No, worries, thanks.  I will repro.

[2017-09-22 09:39] Luci2015 opened #278 "unexpected result running "--users group""
running python 2.7.9 on Windows server 2012

connector-ldap.yml contains these specific filters:
all_users_filter: "(&(objectClass=user)(objectCategory=person)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))"
group_filter_format: "(&(objectCategory=group)(cn=group2))"
group_member_filter_format: "(memberOf={group_dn})"

on AD side:
"user2" is in "group2"
"user3" and user4 are in "group3"
same on

[2017-09-25 08:45] Luci2015 commented on #278
Also:
using argument "--users group" in conjunction with "--process-groups":
user(s) that is/are found after "--users group" filter is applied on AD, is/are then added to all mapped groups because of "--process-groups"
Is this expected? Thanks!

[2017-09-25 08:59] Luci2015 commented on #278
bad choice of group_filter_format and group_member_filter_format can lead to result above.
So no issue here..

[2017-09-25 08:59] #278 closed

[2017-10-02 14:14] bhunut-adobe opened #281 "--update-user-info case sensitive for Email field"
An issue where an account Email Address in the Admin Console is all upper case.
When running --update-user-info it saw that the case in the AD is lower but Admin Console is upper so it attempted to update the email but failed.

I was not able to correct email address on the admin console. I even attempted to delete and re-add but the case still the same.

should --update-user-info be case insensit

[2017-10-03 17:34] sjonetAMFAM opened #282 "User sync creating duplicate accounts in the Admin Console"
PLATFORM:  Windows Server 2012 R2 x64
PYTHON:  2.7.13 x64
UST: 2.2.1

I have several users who have pre-established Adobe IDs whose Admin Console accounts I don't want to alter with the user sync tool. These users are, like the users who I DO want to sync in as Federated IDs, members of security groups that I'm syncing in with the tool. I was told that, because they have Adobe IDs, Federated IDs w

[2017-10-05 02:54] adobeDan commented on #282
Hi Shane,

The User Sync tool, unless you configure it otherwise, assumes all users on the client side should be mapped to users of a single type on the Adobe side.  That type is given by the `user_identity_type` configuration parameter in the `directory_users` section of the main config file, and it defaults to `enterpriseID`.  It sounds like you may have set that parameter to `federatedID`, in w

[2017-10-05 13:21] adorton-adobe opened #283 "Don't import keyring unless needed"
In config.py, the keyring library should be imported only if needed.  The import statement should probably be moved to `get_credential()`, inside the `if secure_value_key` condition starting on line 601 (see https://github.com/adobe-apiplatform/user-sync.py/blob/v2/user_sync/config.py#L601).

This change will make it easier to run the sync tool on Linux systems.  Headless server versions of popula

[2017-10-16 14:00] bhunut-adobe commented on #281
@phil-levy @adobeDan Just following up on this.

[2017-10-18 16:39] adobeDan opened #286 "Admin Console allows specifying attributes for Adobe IDs, User Sync should also"
Administrators in the new admin console are allowed to edit attributes (first name, last name, and country) for Adobe IDs.  But this capability is not provided via User Sync.  (reported by customer via @cosmin-balanoiu)

[2017-10-18 16:56] adobeDan commented on #286
Created blocking issue adobe-apiplatform/umapi-client.py#54 whose fix this depends on.

[2017-10-19 03:43] adobeDan commented on #286
@cosimin-balanoiu I have a fix for this that I'd like your customer to try with a beta build.  What platform do they need the build on?

[2017-10-19 07:07] cosmin-balanoiu commented on #286
@adobeDan They are on windows, python 2.7.13.

[2017-10-20 06:08] adobeDan commented on #286
@cosmin-balanoiu Thanks! Unfortunately, we have established that, while the UST fix is enough to get the attributes uploaded, there is also a back-end UMAPI fix needed for the products not being assigned.  So I'd rather wait on the beta build until both problems are fixed and the customer can regress all the problems at once.  I will get you an estimate for the back end fix as soon as I have one.

[2017-10-20 07:23] cosmin-balanoiu commented on #286
@adobeDan
Cheers! Just let me know when you have something for me. Thanks.

[2017-10-25 22:55] #282 closed

[2017-10-25 23:57] adorton-adobe opened #288 "Escape LDAP query special chars"
Directory system OUs or group names may contain characters that are considered special characters in LDAP queries.

Special query characters are specified here:

http://www.rfc-editor.org/rfc/rfc4515.txt

I'm working with a customer that uses an asterisk (*) in the name of the OU that contains its user groups.  The sync tool fails to query users belonging to groups that belong to that OU.  The pro

[2017-10-26 01:04] #288 closed

[2017-10-26 01:30] #283 closed

[2017-10-26 01:41] adobeDan commented on #281
@bhunut-adobe Sorry for the delay in reply, Kevin.  This is a known issue about how emails are handled on the server side: they are compared case-insensitively but stored case sensitively.  So once they are set you cannot make case changes (either from the console or the UMAPI) because the new email is considered to be the same as the old.

The reason removing the user from the org and then re-add

[2017-10-26 01:41] #281 closed

[2017-10-26 01:42] adobeDan commented on #277
I fixed the release notes to talk about this issue.

[2017-10-26 01:42] #277 closed

[2017-10-26 04:55] adobeDan opened #290 "Windows python 2.7.13 pex 1.2.13 requires wheel==0.29.0"
The latest wheel version on Windows (0.30.0), when run with Python 2.7.13 and pex 1.2.13, produces a build error:
[code]
The workaround is to build with wheel 0.29.0.

[2017-10-26 05:13] adobeDan commented on #290
Turns out that pex requires wheel to be less than version 30.  From the PEX source ` version.py`:
[code]
So we need our makefile to have the same restriction.

[2017-10-26 05:16] #290 closed

[2017-10-26 07:05] adobeDan commented on #286
@cosmin-balanoiu OK the first release candidate is [posted for all platforms](https://github.com/adobe-apiplatform/user-sync.py/releases/tag/v2.2.2rc1).  The server-side fixes are also in, so things should work nicely.

[2017-10-27 09:43] madumro opened #291 "Error when setting default_country_code: NO"
According to ISO 3166, the Norwegian Country Code is NO. But when setting **default_country_code: NO**, the UST returns this error:
**CRITICAL main - Value should be one of these types: ['str'] for key: default_country_code in: <user-sync-config.yml>.directory_users**
This can be worked around by adding double quotes around "NO". But can it be fixed inside the code?
Thank you!

[2017-10-27 17:59] adobeDan commented on #291
Unfortunately, it is YAML itself (the file format for configuration files) that treats all case-variant forms of "Yes" and "No" specially: reading them as the values "True" and "False".  Since we chose YAML for our config files precisely because it's a standard format with wide support in the industry, we don't want to introduce variant handling for specific cases.

(Yes, Adobe realizes how Englis

[2017-10-27 17:59] #291 closed

[2017-10-27 23:59] adobeDan opened #292 "Allow configuration to control log file name as well as directory"
(requested by @cgravatt) User Sync names its log files for the date it runs, which is handy because it automatically accomplishes a simple form of log rotation.  However for users who wish to do their own log rotation (e.g., using [logrotate](https://github.com/logrotate/logrotate)), this ever-changing file name convention is an impediment, not a convenience.  It would be great to have User Sync p

[2017-10-29 00:46] adobeDan opened #293 "Adding a secondary org to an existing config crashes User Sync"
A customer with an existing (working) User Sync configuration has added a second org on the Adobe side, and wants to push some of the existing users from the first org into the second org (and assign them to groups).  They are running into an issue, because User Sync assumes that any users in the primary have already been pushed to the secondary, so it's crashing with the message:
[code]

[2017-10-29 08:28] adobeDan commented on #286
I found a spot I missed in the rc1 fix.  Although attributes are set when Adobe IDs are created, they are ignored if Adobe IDs are updated.

[2017-10-30 00:23] #286 closed

[2017-10-30 01:39] adobeDan opened #294 "Need statistics on changes to users in secondary orgs"
The fix of #293 revealed a weakness in our end-of-run counts: we don't show any information about the changes made via adds to secondary organizations.  That can be very misleading when the only changes made at all were additions of users with mapped groups in secondary organizations!

[2017-10-30 02:41] #294 closed

[2017-10-30 03:16] phil-levy commented on #293
Not sure what this is about.  You should NEVER create a user in a secondary org.  UMAPI handles adding the user to the secondary org if that user is added to a group in the secondary org.  No other processing should be necessary.  It is an error to attempt to create the user in the secondary org because the user already exists.

[2017-10-30 03:32] adobeDan commented on #293
@phil-levy Your understanding of the bug is incorrect.  The problem is that User Sync was assuming that any users who have to be pushed to a secondary org in order to be assigned a group there have already been created in the secondary org.  But, of course, that won't be true unless the secondary org was already known when the user was created.  For this customer (and many others to come) who buy

[2017-10-30 03:32] #293 closed

[2017-10-30 20:33] cosmin-balanoiu commented on #286
Cheers @adobeDan !

[2017-10-30 20:53] adobeDan commented on #286
Thanks @cosmin-balanoiu :).  Please note that the already-posted rc2 build has an even better fix of this bug, but I won't have a chance to post a Windows build until later tonight.

[2017-11-03 10:10] Luci2015 opened #297 "python version for v 2.2.1"
In the Known issues part, there is this:

I don't know about 2.7.14, but it surely does not work on 2.7.13.
Output:

[2017-11-03 10:47] Luci2015 commented on #297
not really sure what version of 2.7.13  (32 vs 64 bit) the customer used so I am closing this

[2017-11-03 10:47] #297 closed

[2017-11-07 11:10] marcocucinato opened #298 "pex releases 2.2.2rc1 not working with Win Py2.7.14"
As in 2.2.1, the  2.2.2rc1 is not working with Windows Python 2.7.14
error is "failed to execute pex file missing compatible dependencies"

[2017-11-07 15:08] Jeff-Jerousek commented on #298
2.2.2rc2 works correctly with Python 2.7.14 (64-bit)

I had the same issue when using the the 32-bit version of Python instead of the 64 bit version. I also needed the Microsoft Visual C++ Compiler Package for Python 2.7 installed.

[2017-11-08 04:36] adobeDan commented on #298
Actually the 2.2.2 final build will be built with 2.7.14 on Windows, and that should resolve this as well.

[2017-11-08 04:36] #298 closed

[2017-11-08 15:14] lhoekenga opened #299 "Allow specification of command-line values using config file"
The default user population is "all" (which is every user that user-sync can find in the local user source).

It would be helpful if it were possible to change the default population in the config file, in addition to the existing command line option.

[2017-11-13 20:07] adobeDan commented on #299
Since almost all user-sync runs need some arguments, and most runs are scripted, can you provide a little more motivation for this enhancement request?  Why is it desirable to override the default in the config as opposed to the invocation script?

[2017-11-13 20:23] Jeff-Jerousek commented on #299
Not OP, but if I had run my first few attempts without the initial -test parameter. I would have had a few hundred extra accounts I needed to remove from Adobe. I then made documenting this a priority.

As a windows admin. I think it runs counter to the typical windows admin experience. I can also imagine scenarios in the future where my team doesn't know how it works and runs it without parameter

[2017-11-13 20:53] adobeDan commented on #299
So perhaps the problem is that we default the `all` value rather than having no default and warning when `--users` is not specified?  Sadly, that would be a backward-incompatible change.

[2017-11-13 22:20] lhoekenga commented on #299
parameter. I would have had a few hundred extra accounts I needed to remove
from Adobe. I then made documenting this a priority.

This was what I ran into.   I was debugging an issue and didn't look
closely enough at the parameters I used to run user-sync out of cron.  I
ended up with about 10k more users than I intended.

There is precedent for providing config file settings / environment
variabl

[2017-11-14 00:41] adobeDan commented on #299
OK, so what I'm hearing is:

So how about a single, new, top-level config file section `invocation-defaults` with the following sub-settings and default values:
[code]
This allows setting the values for all command line parameters which don't control the reading of the configuration file.  These default values are backward-compatible.  And any values specified for one of these on the command-line

[2017-11-15 01:52] adobeDan opened #301 "User Sync fails when adding more than 10 groups to a user"
Reported from the field: when trying to add more than 10 groups to a user, User Sync runs up against a UMAPI limit on the number of groups that can be added in a single action step.

[2017-11-15 01:53] adobeDan commented on #301
This is actually due to adobe-apiplatform/umapi-client.py#58, so integrating v2.9 of the umapi-client should fix it.  Thanks @adorton-adobe for the umapi-client fix.

[2017-11-15 02:24] #301 closed

[2017-11-15 15:33] adorton-adobe commented on #301
@adobeDan - do split actions impact the "Number of UMAPI actions sent" in the summary? (the split when actions have more than 10 "do" commands)  If so, then very large group lists (>100) will inflate that number.  Would that be a concern?

[2017-11-15 17:44] adobeDan commented on #301
@adorton-adobe Yes, if a UMAPI gets split into multiple commands, that might cause the action containing it to be split into multiple actions, in which case the 'Number of UMAPI actions sent" in the summary might increase.  I don't see why this would be a concern, since it's already the case that the UMAPI consolidates and splits commands into actions so as to minimize the number of server calls,

[2017-11-16 01:20] adobeDan commented on #191
This is the start of a proposal about what to do here...

[2017-11-16 01:25] adobeDan commented on #191
The design problem here is that, while the `addRoles` and `removeRoles` action commands allow setting users into all kinds of admin roles, the list of users with those roles isn’t available to User Sync as a standard “Adobe group”.

[2017-11-16 01:30] adobeDan commented on #299
Phil, what do you think?

[2017-11-16 17:53] Jeff-Jerousek commented on #191
I don't know how reasonable this request is or if its within the goals of the user-sync tool is but what would work for me who is in a smaller organization < 1,000 users. I would not expect to run this more than once a week/occasionally on demand.

Use a new parameter for an administrative-sync and define a separate administrative-sync groups (roles) in the config file. To avoid confusion I would

[2017-11-19 17:46] adobeDan commented on #191
We are working with the back-end UMAPI development team on a UMAPI enhancement that will enable this feature without User Sync having to do a lot of "synthetic" group creation.  As we get clarity on the timing of that enhancement, we will figure out whether it makes more sense to wait for it or to do something more "stop gap" in the mean time.

[2017-11-19 17:48] adobeDan commented on #299
This looks like a good feature add.  We will pick it up in the next full dot, not the current double-dot.

[2017-11-19 17:57] adobeDan commented on #292
No further updates from the contributor, so this will wait for the next feature release.

[2017-11-21 04:20] adobeDan opened #305 "integration of Okta connector"
A generic enhancement issue for the new connector of v2.3.

[2017-11-21 04:25] adobeDan commented on #305
Whether or not `--connector okta` is specified, the okta config under directory connectors is ignored and gives an unused key warning.

[2017-11-21 04:53] adobeDan commented on #305
Okta directory connector doesn't understand keyword argument `all_users`.

[2017-11-21 05:19] adobeDan commented on #305
Error handling produces repr strings.

[2017-11-21 05:48] adobeDan commented on #305
Py3 `filter` returns an iterator, so errors weren't caught locally.

[2017-11-21 05:59] adobeDan opened #306 "backward compatibility: v2.2.2 crashes if no country code specified for Adobe ID"
Prior versions of User Sync allowed creating Adobe IDs without country.  The new UMAPI does not allow this, and v2.2.2 doesn't allow it by crashing.  Instead, the user should be skipped.

[2017-11-21 06:23] #305 closed

[2017-11-21 06:23] #306 closed

[2017-11-22 00:30] #292 closed

[2017-11-24 12:08] MKCPC opened #308 "WinError 3"
I'm having issues getting this to run on Windows.  I have tried using Python 2.7.14 & 3.6.3 along with using User-Sync version 2.3rc1 and 2.2.2 however when attempting to run the application I get the following error:

[code]

I have tried moving this application to C: along with trying it on a different machine and I still receive the same error.  I am running the application as administrator

[2017-11-24 12:34] bajwa-adobe commented on #308
Did you set PEX_ROOT environment variable?

[code]

[2017-11-24 12:50] MKCPC commented on #308
No i've been setting it to S:\AdobeUserSync\user-sync.pex as it says in the documentation - https://adobe-apiplatform.github.io/user-sync.py/en/success-guide/install_sync.html

I've changed the environmental variable to be S:\AdobeUserSync now and it's working just fine.  Thanks for your help.

[2017-11-25 07:56] adobeDan commented on #308
@bajwa-adobe thanks for helping out.

@MKCPC thanks for bringing the typos and unclarity in the documentation to our attention!  I am marking this as a doc bug and assigning to one of our leads.  In future, if you are using Python 3.6.3 on Windows 10, you don't need to set the PEX_ROOT environment variable at all, because Py3 on Win10 has full support for long pathnames.

[2017-11-28 02:16] adobeDan commented on #308
The docs have been updated with PR #310.

[2017-11-28 02:16] #308 closed

[2017-12-01 19:06] adorton-adobe commented on #89
I've rebased v2 onto `feature/test-framework` in my fork so I can develop some group sync tests.  I'll submit a PR in case you want to merge it here.

[2017-12-01 20:45] adobeDan commented on #89
@adorton-adobe OK, thanks for the heads up, here's one for you: I'm doing a ton of rework of the app startup/arg parsing/configuration reading code as part of the work on #299, so you and @bhunut-adobe probably will have to do a careful merge of those changes into your forks that may have also made changes.  I expect to be done with these changes by the end of the weekend, so if you can hold off m

[2017-12-04 00:59] #299 closed

[2017-12-07 04:02] gglen opened #313 "Unable to use encrypted-private key"
Platform: Windows Server 2016
Python: 3.6.3 x64

Using a encrypted-private key with user-sync 2.2.2 fails with error message:
CRITICAL main - umapi configuration.enterprise: Error decrypting private key, either the password is wrong or: RSA key format is not supported

Error occurs with keypass either in Windows Credential Manager or plain text keypass in file, ie:
secure_priv_key_pass_key: umapi_

[2017-12-07 07:29] adobeDan commented on #313
This is puzzling, since none of that code has changed since it worked in 2.2.1.  As a "let's rule out the obvious" step, would you mind using ssl to decrypt that key with the "xxx" passphrase that you have in your config file?  I just want to make sure that there wasn't a typo somewhere.

[2017-12-07 09:43] gglen commented on #313
Was thinking that myself.... Checked reversing out the encryption.  I don't believe there is a typo with the keypass.  The unencrypted encrypted file works OK when referenced in the config file.

[2017-12-07 15:02] adobeDan commented on #313
OK, thanks for checking.  I will try to repro these steps with my own key on a matching system.  Things are a little hectic, so it might take me a couple of days.

[2017-12-08 19:55] adobeDan commented on #313
So I cannot repro this running on a Win2016 server using the posted py3.6.3 Windows build of v2.2.2.  I have these lines in my umapi-config file:
[code]
(where `test` is actually the password :) and it works just fine.  Are you certain that you have the encrypted key in `priv_key_path`, rather than the unencrypted key?  Are you certain that you used openssl on Windows to encrypt the key?

[2017-12-08 20:10] adobeDan opened #314 "v2.3rc2 requires invocation_defaults section be specified"
Whoops.  The invocation_defaults section is supposed to be optional, but running against a config file that doesn't have it produces:
[code]
That shouldn't happen!

[2017-12-08 20:17] #314 closed

[2017-12-09 00:14] adobeDan opened #315 "Can't specify --user-filter or other string-valued args"
(found in v2.3rc2)

Something is wrong with the merging of invocation defaults and argument values: specifying ``--user-filter ".*@ensemble.com"`` produces:
[code]

[2017-12-09 00:23] #315 closed

[2017-12-09 03:15] gglen commented on #313
OK, I think I discovered what is going on.  So somewhere along the way the encrypted file ended up with CR&LF chars normally there is only *NIX LF char on the OpenSSL output.  OpenSSL doesn't mind this but python/user-sync.py doesn't like this, hence the rejection.

[2017-12-09 03:16] #313 closed

[2017-12-09 06:08] adobeDan commented on #313
Thanks @gglen for following up.  Yes, there are lots of ways for Windows files to pick CR/LFs.  Too bad the crypto libraries we are using are sensitive to that.  We appreciate your filing the issue!

[2017-12-11 20:57] bhunut-adobe opened #318 "Build Pex without dbus"
The build instruction stated that

However, when I attempted to build UST, I got an error for dbus which it normal for Centos 6. It seems like dbus is still required to build.

OS: Centos 6.7
Python: 3.6.3
Using virtualEnv.

[pex.log](https://github.com/adobe-apiplatform/user-sync.py/files/1549367/pex.log)

[2017-12-11 21:15] adorton-adobe commented on #318
I've been unable to build it in 6.7  If you build it in 7, you should be able to run the pex in 6.7.

[2017-12-11 21:34] bhunut-adobe commented on #318
@adorton-adobe Yeah in rhel/centos 6 it usually errors out because of dbus. But the documentation now said dbus is optional from the build process.

[2017-12-11 22:50] adobeDan commented on #318
I'm investigating.  I haven't done much in centos6.  But I will take a look over the next few days.